[2014-01-19 20:05] mindspillage opened #2 "license update to 4.0"
The license information in the footer of search.creativecommons.org should be updated to 4.0.

[2014-01-23 20:40] vthunder opened #3 "Locales submodule doesn't work correctly"
After cloning this repo and running git submodule init/update, the locales are not pulled in. Something is clearly wrong with the submodule config.

[2014-01-23 20:42] vthunder opened #4 "Repo doesn't include theme"
The live server has a "cc-wp" directory originally pulled in from subversion with a bunch of php, js, css. search uses this for the theme.

It should be added to this repository so it can be properly version controlled.

[2015-03-12 17:31] #4 closed

[2015-03-12 17:31] #3 closed

[2015-03-12 17:31] #2 closed

[2017-07-05 20:24] mmoreshead opened #10 "feedback from user"
Here's a message someone wrote to info@ to give some feedback to search.

==============
Hi,

Some feedback:
- good concept
- helpful way to search on multiple sources, if it actually works
- bug: if you search for something, and it doesn't find anything, you can just enter in that results page a new query, and it'll search with the same parameters. That is good. However, if it does find something

[2017-08-08 05:55] mamatcyber opened #11 "mamatcyber"
/user

[2017-08-28 13:08] mmoreshead opened #12 "images showing up when photographs is unchecked"
from a user who wrote to info@:

  | Possible Bug ! when i search lately on https://ccsearch.creativecommons.org/ with photographs deselected it shows flickr photos results
-- | --

Browser: Google Chrome
Google Chrome è aggiornato
Versione 61.0.3163.59 (Build ufficiale) beta (a 64 bit)

two screenshots available if necessary, just ask mari for them.

[2019-03-27 14:52] janeatcc opened #13 "remove Pixabay and spinxpress"
from legacy repo at https://search.creativecommons.org. neither are up to date.

remove if trivial to do so. if not, it can wait for Q2 when we are planning to encase legacy cc search in the beta UX.

[2019-04-03 05:06] kgodey commented on #13
This is not trivial to do, we will just deprecate old search ASAP.

[2019-04-03 05:06] #13 closed

[2019-04-30 14:36] janeatcc opened #16 "old search doesn't work after you search for a key term"
this stopped working post flip, see https://search.creativecommons.org/bouncer.php?q=cat&url=http%3A%2F%2Fflickr.com%2Fsearch%2F%3Fl%3Dcommderiv%26q%3Dcat for example

[2019-04-30 15:30] #16 closed

[2019-05-01 18:29] little-wow opened #18 "According to a user, old search is broken"
https://twitter.com/galerialldm/status/1123622077792174080

I was not able to replicate this bug, but am filing because the screencast shows it's broken

[2019-05-01 18:33] janeatcc commented on #18
works on chrome and Firefox but not safari for me Version 12.1 (14607.1.40.1.4)

[2019-05-01 18:33] janeatcc commented on #18
@kgodey to triage

[2019-05-01 18:53] kgodey commented on #18
working fine for me on Safari, it might just be cached. @little-wow or @janeatcc could you ask the user to force refresh and try again? https://refreshyourcache.com/en/cache/

[2019-05-01 22:03] janeatcc commented on #18
this is resolved, please close

[2019-05-02 13:14] #18 closed

[2019-06-05 20:37] janeatcc opened #19 "fix GA code so we are collecting data for old search"
@kgodey can you please assign @hugosolar or relevant person?

the repo name we should be collecting the data in is search.cc.org in GA and it hasn't been working since flip (30 April)

[2019-06-05 23:33] kgodey commented on #19
Done and deployed.

[2019-06-05 23:33] #19 closed

[2019-06-18 11:24] mzeinstra opened #21 "Update description to point to current search interface"
Add in the headline that this repo is deprecated and that people should look at https://github.com/creativecommons/cccatalog-frontend instead

[2019-06-22 20:43] #21 closed

[2019-06-22 20:45] kgodey commented on #21
Added to README, updated repo's website and description.

[2020-11-26 05:50] zackkrida opened #23 "Rename repository"
It may be appropriate to rename the repo to `legacy-search` for clarity.

[2020-12-21 13:16] frappelatte28 opened #24 "Toggle button of "cc-global-header" in the home page is not completely visible."
## Description
Toggle button of "cc-global-header" in the home page is not completely visible.
## Reproduction
1. Go to [Home](https://search.creativecommons.org/) page.
2. On the top-right side 'the explore button' is not visible completely.

## Expectation

## Screenshots
![CC-BUG-1](https://user-images.githubusercontent.com/64382399/102780078-580b1a00-43bb-11eb-9b6b-9e1b7071cd28.gif)

## Enviro

[2021-01-19 23:14] zackkrida commented on #24
Closing, as this issue is for the locked `cccatalog-frontend` repository.
Note: this issue was incorrectly transferred to `creativecommons/search` prior to closure.

[2021-01-19 23:14] #24 closed

[2022-03-08 21:58] #23 closed

[2022-06-30 17:13] #12 closed

[2022-06-30 17:17] #10 closed

[2022-07-13 16:46] TimidRobot opened #26 "[Bug] Google Image search is not limited to "Creative Commons licenses""
## Description
Google Image search is not limited to "Creative Commons licenses"

## Reproduction

1. input `cat` into search field
2. click Google Images button
3. Resulting query:
[code]

## Expectation
- Resulting query should be limited to "Creative Commons licenses":
[code]

## Screenshots
### Current
![Screenshot 2022-07-13 at 09-39-09 cat - Google Search](https://user-images.githubuserconte

[2022-07-13 16:48] TimidRobot opened #27 "[Bug] ccMixter search does not open a new tab/window"
## Description
ccMixter search does not open a new tab/window

## Reproduction
1. type search term in search field
2. click ccMixter button

## Expectation
Searches should always open in a new tab/window to allow multiple engines to be used with the same search term

[2022-07-13 16:49] TimidRobot opened #28 "[Bug] Europeana search does not open a new tab/window"
## Description
Europeana search does not open a new tab/window

## Reproduction
1. type search term in search field
2. click Europeana button

## Expectation
Searches should always open in a new tab/window to allow multiple engines to be used with the same search term

[2022-07-13 16:50] TimidRobot opened #29 "[Bug] Flickr search does not open a new tab/window"
## Description
Flickr search does not open a new tab/window

## Reproduction
1. type search term in search field
2. click Flickr button

## Expectation
Searches should always open in a new tab/window to allow multiple engines to be used with the same search term

[2022-07-13 16:53] TimidRobot opened #30 "[Bug] Open Clip Art Library search does not open a new tab/window"
## Description
Open Clip Art Library search does not open a new tab/window

## Reproduction
1. type search term in search field
2. click Open Clip Art Library button

## Expectation
Searches should always open in a new tab/window to allow multiple engines to be used with the same search term

[2022-07-13 16:56] TimidRobot opened #31 "[Bug] Open Clipart is misnamed "Open Clip Art Library""
## Description
Open Clipart is misnamed "Open Clip Art Library"

## Expectation
Engine name should be "Open Clipart" to match https://openclipart.org/share

[2022-07-13 17:08] TimidRobot opened #32 "[Bug] Pixabay images are no longer CC0 nor public domain and the engine should be removed"
## Description
Pixabay images are no longer CC0 nor public domain and the engine should be removed

## Reproduction

[Pixabay License Change - No Longer a CC0 License | SugarFire](https://www.sugarfire.net/pixabay-license-change-no-longer-a-cc0-license/):

## Expectation
Search should be limited to CC licensed or public domain content.

[2022-07-13 17:53] TimidRobot opened #33 "[Bug] SoundCloud search does not open a new tab/window"
## Description
SoundCloud search does not open a new tab/window

## Reproduction
1. type search term in search field
2. click SoundCloud button

## Expectation
Searches should always open in a new tab/window to allow multiple engines to be used with the same search term

[2022-07-13 18:00] TimidRobot opened #34 "[Bug] SpinXpress is offline and the engine should be removed"
## Description
SpinXpress is offline and the engine should be removed

## Reproduction
1. type search term in search field
2. click SpinXpress button
   - result is a 404
   - www.spinxpress.com also results in a 404

## Expectation
Configured search engines should be functional

## Additional context
- Last Wayback Machine crawl was in 2011: https://web.archive.org/web/2011*/https://www.spinexpre

[2022-07-13 18:03] TimidRobot opened #35 "[Bug] Wikimedia Commons search does not open a new tab/window"
## Description
Wikimedia Commons search does not open a new tab/window

## Reproduction
1. type search term in search field
2. click Wikimedia Commons button

## Expectation
Searches should always open in a new tab/window to allow multiple engines to be used with the same search term

[2022-07-13 18:04] TimidRobot opened #36 "[Bug] YouTube search does not open a new tab/window"
## Description
YouTube search does not open a new tab/window

## Reproduction
1. type search term in search field
2. click YouTube button

## Expectation
Searches should always open in a new tab/window to allow multiple engines to be used with the same search term

[2022-07-13 18:07] TimidRobot opened #37 "[Feature] openverse should be added to supported search engines"
## Problem
CC Search became openverse and is a robust media search engine for open content

## Description
openverse should be added to supported search engines

## Additional context
- [Welcome to Openverse – WordPress News](https://wordpress.org/news/2021/05/welcome-to-openverse/)

[2022-09-09 08:54] MdSahil-oss commented on #37
@TimidRobot I would like to work on this.

[2022-09-12 14:18] #36 closed

[2022-09-12 14:22] possumbilities commented on #34
@TimidRobot for engine removals, should we leave the option, and have the user search gracefully go elsewhere like Google, or should we remove the option entirely from the interface?

Having the output go to Google at least avoids an error, but is unexpected from a UX perspective.

[2022-09-13 05:23] MdSahil-oss commented on #35
@possumbilities This issue is relevant to the PR https://github.com/creativecommons/search/pull/38

[2022-09-13 05:24] MdSahil-oss commented on #33
@possumbilities This issue is relevant to the PR https://github.com/creativecommons/search/pull/38

[2022-09-13 05:25] MdSahil-oss commented on #30
@possumbilities This issue is relevant to the PR https://github.com/creativecommons/search/pull/38

[2022-09-13 05:25] MdSahil-oss commented on #29
@possumbilities This issue is relevant to the PR https://github.com/creativecommons/search/pull/38

[2022-09-13 05:26] MdSahil-oss commented on #28
@possumbilities This issue is relevant to the PR https://github.com/creativecommons/search/pull/38

[2022-09-13 05:26] MdSahil-oss commented on #27
@possumbilities This issue is relevant to the PR https://github.com/creativecommons/search/pull/38

[2022-09-13 05:31] MdSahil-oss commented on #32
@possumbilities This issue is relevant to the PR https://github.com/creativecommons/search/pull/40

[2022-09-13 05:33] MdSahil-oss commented on #34
@possumbilities This issue is relevant to the PR https://github.com/creativecommons/search/pull/39

[2022-09-13 05:36] MdSahil-oss commented on #26
@possumbilities This issue is related to the PR https://github.com/creativecommons/search/pull/41

[2022-09-13 13:28] #35 closed, assigned to mdsahiloss, possumbilities

[2022-09-13 13:28] #33 closed

[2022-09-13 13:28] #30 closed

[2022-09-13 13:28] #29 closed

[2022-09-13 13:29] #27 closed

[2022-09-13 19:37] MdSahil-oss commented on #36
This PR is relevant to the issue https://github.com/creativecommons/search/pull/38

[2022-09-15 07:46] Biki-das commented on #37
@TimidRobot i would like to work on this :-)

[2022-09-15 08:22] Biki-das opened #45 "[Feature] Guide to setup the development Environment for contributors"
## Problem
A small seperate Guide should be there for new contributors and for everyone to setup the CC search locally in their machine , which would help to experiment or reproduce the bug locally

[2022-09-15 21:46] possumbilities commented on #37
@Biki-das wonderful! please feel free too! 🚀

[2022-09-15 22:02] #31 closed

[2022-09-16 05:36] MdSahil-oss commented on #45
@Biki-das I think directly copy pasting of @possumbilities given instructions from slack [thread](https://creativecommons.slack.com/archives/CFXMFU4F6/p1663248445439369?thread_ts=1663225143.777019&cid=CFXMFU4F6) will be very good because she explained setting up instructions very well.

[2022-09-16 05:49] MdSahil-oss commented on #34
@TimidRobot PR related to this issue has been merged so this issue should be closed.

[2022-09-16 13:30] possumbilities commented on #34
@MdSahil-oss thank you for catching that! Closing now.

[2022-09-16 13:30] #34 closed

[2022-09-16 13:46] zackkrida opened #47 "[Bug] Accessibility issues with the search engine buttons"
## Description

There are a few a11y concerns with the approach taken by the actual buttons for each search engine:

The buttons are not accessible via keyboard, because they use labeled `divs` instead of actual input controls. An `<input type="radio">` group might be an elegant solution that allows the buttons to be keyboard navigable _and_ to update the value of the currently-selected search eng

[2022-09-16 14:03] zackkrida opened #48 "[Feature] Additional source suggestions"
## Problem

More search engines are always welcome in a project like this, to improve the number of relevant options to users.

## Description

While we're in the process of renaming it to 'External Sources', since the meaning of 'meta search' is a bit confusing for folks (not to mention, using the word 'meta' in a project with '-verse' in its name seems ill-advised), a feature similar to this sea

[2022-09-16 14:11] #26 closed

[2022-09-16 14:13] MdSahil-oss commented on #47
I would like to work on this.

[2022-09-16 14:19] #32 closed

[2022-09-16 14:35] ImaJin14 opened #49 "[Feature] README.md file update"
## Problem
README.md

## Description
README.md file does not contain the steps required to setup the project locally on a personal work environment

## Alternatives
This will help new contributors to be able to setup their environment with ease... This is especially for those who are new to open source

## Additional context
Links to various sites that could help the contributor during setup phase

[2022-09-16 14:52] Biki-das commented on #31
This issue is in reference to pr #44

[2022-09-16 15:00] Biki-das commented on #49
Already raised #45, and i am working on this, you can look up to other issues.

[2022-09-16 15:02] #49 closed

[2022-09-16 15:03] ImaJin14 commented on #49
@Biki-das okay thanks for the heads up

[2022-09-16 15:08] Biki-das commented on #45
thanks , alright time to work on it 😀

[2022-09-16 17:45] Biki-das commented on #48
would love to work on this.

[2022-09-16 20:07] MdSahil-oss commented on #47
@TimidRobot I think by using buttons `<button></button>` instead of divs `<div></div>` we can easily make engines keyboard accessible. e.g.
[code]
instead of
[code]
I tested it, works as expected but will need to put some additional css in order to style buttons.
This is how an engine looks with button tag:

![Accesbility-button](https://user-images.githubusercontent.com/85174511/190724163-03f4d36

[2022-09-16 22:50] possumbilities commented on #47
@MdSahil-oss This is a good approach, but I'm fairly certain an `<input>` element can't be within a `<button>` element, and the HTML still be valid.

I believe  the `<input>` would have to be replaced by the `<button>`, and the associated JS attached to it instead, or possibly further changes to get it to work right.

[2022-09-19 14:38] #45 closed

[2022-09-21 02:41] Kingmax1981 opened #53 "[Bug] <Replace this with actual title>"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2022-09-21 07:43] ImaJin14 commented on #53
Please this issue isn't well explained on the purpose could you ellaborate!...

[2022-09-23 05:58] MdSahil-oss commented on #48
@Biki-das Are you working on this ?

[2022-09-23 14:58] Biki-das commented on #48
Yep!

[2022-10-06 20:27] possumbilities opened #54 "[Change] Rename project to CC Search Portal, all text occurrences"
## Description
The project known as CC Search, CC Meta Search, Old Search, and Legacy CC Search needs all text occurrences to be changed to the new title: `CC Search Portal`.

Additionally, the wording `oldsearch.creativecommons.org` in the footer, needs to be changed to `CC Search Portal`

## Resolution

- [ ] I would be interested in resolving this bug.

[2022-10-06 20:29] possumbilities opened #55 "Rename project to CC Search Portal, all graphic occurrences"
## Description
The logo image present here on the homepage:

<img width="434" alt="Screen Shot 2022-10-06 at 3 27 58 PM" src="https://user-images.githubusercontent.com/109087089/194412069-a2ada52a-339b-47cb-bf9a-0187bce29d58.png">

[2022-10-06 21:50] zackkrida commented on #37
Here's the relevant technical information for this change, using the search query 'dog' as an example:

Base URL: `https://wordpress.org/openverse/search/?q=dog`

And the two modifiers offered:

Use for commercial purposes: `&license_type=commercial`
Modify, adapt, or build upon: `&license_type=modification`

[2022-10-07 06:57] ImaJin14 commented on #55
Hi @possumbilities I'll like to work on this issue

[2022-10-07 06:58] ImaJin14 commented on #54
Hi I'll like to work on this issue @possumbilities

[2022-10-08 20:04] brendamoreira commented on #54
Hi, I'm Brenda, from outreachy. If this issue is not taken, can I work on this one?

[2022-10-08 20:17] kuicpet commented on #54
Hi, I'm Kingsley, an Outreachy applicant, I love contributing to this project, can we create issues based on the WAVE accessibility report on the https://oldsearch.creativecommons.org/ website

[2022-10-08 20:55] MrOrero commented on #54
Hi, I'm Orero, an Outreachy applicant, I would love to contribute to this project by working on this issue

[2022-10-09 02:23] Nuel-Eneji commented on #54
Hello, I'm Nuel From outreachy. I'd want to work on this topic if it's not already taken. Thanks

[2022-10-09 03:47] ImaJin14 commented on #54
@Nuel-Eneji please I'm working on this issue already

[2022-10-09 07:14] dayopius commented on #55
hi i'll like to work on this issue

[2022-10-09 08:17] ImaJin14 commented on #55
@dayopius i'm already working on this working on this issue thanks

[2022-10-09 10:35] Quintinus98 commented on #37
Hello
I would like to work on this project.

[2022-10-09 13:50] akashthedeveloper commented on #37
Hey, @TimidRobot I would like to work on this issue can you please assign it to me?

[2022-10-09 14:42] albinazs commented on #54
Hello @possumbilities! I'm an Outreachy applicant and I would love to work on this issue!

[2022-10-09 19:12] mutmainaho commented on #55
Hi, I would like to work on this Issue

[2022-10-09 19:30] ImaJin14 commented on #54
This issue has already been worked on and I have and active PR on it

[2022-10-09 19:49] ImaJin14 commented on #55
@mutmainaho I'm already working on this issue and soon going to open up a PR for it

I'm also an outreachy intern

[2022-10-10 06:44] charlesjman commented on #37
Hello,is anyone working on this?

[2022-10-10 08:05] albinazs commented on #37
Hello @possumbilities! I'm an Outreachy applicant and I would love to work on this issue!

[2022-10-10 08:23] Jolah1 commented on #54
Hello i'm jolade, an outreachy applicant, I will like to start working on this issue.
Thank You.

[2022-10-10 11:47] ruthietut commented on #37
hello @possumbilities! if no one is assigned to this issue yet, i would like to work on it.
i am an outreachy applicant.

[2022-10-10 12:57] codeinvoke7 commented on #54
I'm an outreachy applicant and I would like to work on this issue

[2022-10-10 14:18] possumbilities commented on #54
Yes you can, that's a great approach to generate Accessibility specific Issues here on the repository

[2022-10-10 19:06] #54 closed

[2022-10-10 21:51] osujipius opened #60 "[Feature] Redesign Footer component"
## Problem
The current footer is really bad visually and does not meet the current standards of other UI/UX trend

## Description
This feature will make the Footer more pleasing to look at and more accessible

## Additional context
For me personally as a Frontend Developer the current Footer is way below standard with the ever evolving world of UI/UX
The overall goal for the new footer is to put i

[2022-10-10 23:57] Tammy-Ajoko commented on #60
Hi, I'ld like to work on this issue

[2022-10-10 23:57] JennySimen commented on #60
Hi @OsujiPius I will like to work on this issue

[2022-10-11 00:00] OsujiPius commented on #60
@JennySimen Already working on it

[2022-10-11 09:02] Marclint commented on #55
Hi, I would like to work on this issue

[2022-10-11 09:12] Marclint commented on #37
Hello @TimidRobot I am an outreachy applicant, i would like to work on this issue,

[2022-10-11 10:16] Bhaybhiisparks commented on #55
Hi, I would like to work on this issue.

[2022-10-11 14:04] Graycemuthui commented on #48
Hey @Biki-das could I work on this?

[2022-10-11 14:32] bukolamunis commented on #37
Helloo, can more than one person work on an issue, if yes; i would like to work on this. as an outreachy applicant.

[2022-10-11 14:36] PreciousOritsedere opened #63 "[Feature] Improvements on repo Readme.md"
## Problem

As a beginner and new contributor to the Creative Commons Community, I made some mistakes while trying to install docker and clone the repo.
After reading through the Readme.md, I took the first step under 'Docker compose setup' in the Readme.md and clicked on the link to install Docker. And then I had several failed attempts in starting up Docker.

After successfully setting up Docker

[2022-10-11 14:39] possumbilities commented on #37
@bukolamunis Hi, usually the norm would be whomever indicated they are working on it, would be, but if some time as went by it can be useful to kindly verify if someone is still working on it so that if they aren't it can be picked up by someone else to focus on.

[2022-10-11 14:46] dikehprosper commented on #63
I would love to work on this

[2022-10-11 14:52] PreciousOritsedere commented on #48
Is anyone currently on this issue? I would love to work on it. Also are there any restrictions to the kind of search engines we are to add?

[2022-10-11 15:41] bukolamunis commented on #37
hello @Biki-das ,i see you were assigned this task earlier,  please i would like to know if you are still working on it or if i can give it a go. thanks

[2022-10-11 16:46] Straw4yu commented on #60
@possumbilities I'll like to work on this project.

[2022-10-11 17:05] MariamOsman11 opened #64 "footer issues and misspelled comment"
the footer design is not the most good looking. some social media icons should be included e.g instagram, Tiktok. Also,
some  code comments is mispelled. And, i'll like to fix those two stuff if given opportunity.

[2022-10-11 17:34] possumbilities commented on #60
@OsujiPius thanks for adding more clarification, and I appreciate your enthusiasm!

I agree the footer needs to be updated, as does a lot of the visual aesthetic of the site. The overall goal for the new footer should be to put it in alignment with the current universal footer found on newer Creative Commons sites. See an example here: https://opensource.creativecommons.org/

That's definitely inl

[2022-10-11 17:41] OsujiPius commented on #60
@possumbilities thank you. I will get to work right away

[2022-10-11 17:50] OsujiPius opened #65 "[Bug] Cleanup Codebase CSS files tab and spacing formatting"
## Description
The codebase currently has a lot of duplicates of code and files that do not seem necessary. There is also a lot of generic errors especially in the CSS files which can cause a lot of confusion especially to people new to the codebase.

## Reproduction
1. Open `ie8-and-down.css`
2. Open `primary.styles.css`
3. Open `style.css`

## Expectation
1. Fix all errors in the CSS files
2. Re

[2022-10-11 17:54] OsujiPius commented on #65
@possumbilities I think it would make sense if I also do this

[2022-10-11 18:11] possumbilities commented on #60
@OsujiPius can you update the original issue to expand a bit with this information about following the other universal footers?

[2022-10-11 18:12] ImaJin14 commented on #64
I think this issue conflicts with issue #60...

[2022-10-11 18:13] possumbilities commented on #65
@OsujiPius Thanks for outlining another Issue, but let's try to leave this one open for others to do if it gets into a status of "status: ready for work" so others have a chance to contribute as well. :)

[2022-10-11 18:16] OsujiPius commented on #60
Sure I can do that

[2022-10-11 18:44] RealRichi3 commented on #65
@possumbilities  i would like to take this issue

[2022-10-11 18:45] dikehprosper commented on #63
please @TimidRobot @possumbilities triage this issue

[2022-10-11 19:58] MariamOsman11 opened #66 "Updating the website UI"
I want  redesign the existing "creativecommons" components into the current standard. I discovered it's necessary to set appealing background color , and use CSS custom property to remove redundency. Also, animate some buttons.

I'm doing that to provide clean design and responsiveness also the user to enjoy exploring the "creativecommon" website

[2022-10-11 20:09] MariamOsman11 commented on #66
@possumbilities can I kindly contribute by improving the appearance of creativecommons

[2022-10-11 20:12] MariamOsman11 commented on #64
@ImaJin14  I committed and pushed  the spelling hours ago before I come to the discussion and discovered later that it was said.

[2022-10-11 20:44] possumbilities commented on #64
Closing this since it's a duplicate of #60

[2022-10-11 20:44] #64 closed

[2022-10-11 20:47] possumbilities commented on #65
@OsujiPius could you add more details about the specific errors you've encountered here?

[2022-10-11 20:50] possumbilities commented on #66
@MariamOsman11 Hi! and thank you for your excitement! ❤️

* Can you please return the Issue template and fill that out, rather than deleting it. It's ok to modify some of it as necessary.
* Can you also provide more details about what specifically this Issue is about, the reasoning behind, etc. and any specific approach you would hope to take in resolving it. (if relevant)

[2022-10-11 21:31] mildrette commented on #63
@possumbilities I will love to work on this, that's if no one is working on it.

[2022-10-11 22:04] OsujiPius commented on #65
@possumbilities Yes I can. 🙂

[2022-10-11 22:23] MariamOsman11 commented on #66
@possumbilities  kindly review the issue I update.
appreciated!

[2022-10-11 23:58] ImaJin14 commented on #66
@MariamOsman11 your PR can't be reviewed because it's not well explained nor linked to any issue.... Please refer to contribution.md on how to contribute to this open source project thanks

[2022-10-12 04:18] SharleenAwinja opened #67 "Refactoring code in the cc meta search site stylesheet"
I would like to refactor the code of the legacy cc meta-search CSS file so as to match the visuals of the legacy site with the rest of the creative commons web entities.

I plan on doing this by redoing the header and footer so that they can match that of the other creative commons websites. I would also like to add the line height so as to improve readability as well as improve the color transiti

[2022-10-12 04:55] SharleenAwinja commented on #67
@possumbilities I would like to work on this issue. I've also been unable to find the  "I would be interested in resolving this issue" checkbox, maybe you could please guide me to where it is.

[2022-10-12 05:46] ImaJin14 commented on #67
There's issue #60 already based on changing the site footer to match the cc trend so you could just rename this issue to changing the header to match cc UI trend

[2022-10-12 06:04] SharleenAwinja commented on #67
@ImaJin14 in that case then I'll work on everything described in the issue apart from the footer component

[2022-10-12 07:27] PreciousOritsedere commented on #63
@mildrette @dikehprosper
Yes I created the issue so I could work on it.
But if you have additional contributions
That’s welcome too

[2022-10-12 09:02] MariamOsman11 commented on #66
@ImaJin14  kindly elabrote more. do you see the issue I raised?I'm confused here! time is moving so fast. I have never contributed to open source. write the hierachy of the work required here you seem to understand it. Appreciated

[2022-10-12 09:08] PreciousOritsedere commented on #65
I would like to work on this issue

[2022-10-12 09:09] ImaJin14 commented on #66
The pr you asked to be reviewed I.e #62 isn't linked to any issue and hence can't be reviewed... PS : this current issue is good and you can submit a PR for it which will be very much appreciated

[2022-10-12 09:41] OsujiPius commented on #65
@possumbilities I have updated the description a little bit

[2022-10-12 09:44] PreciousOritsedere commented on #65
@OsujiPius Thanks, I'm currently working on this :)

[2022-10-12 09:46] MariamOsman11 commented on #66
@ImaJin14  thank you so much for your help. I understood now. will work on it.

[2022-10-12 10:00] MariamOsman11 commented on #67
@SharleenAwinja @possumbilities @ImaJin14  I talked about redesigning #66 kindly work on another stuff because header is the main places I wanna redesign.

[2022-10-12 10:04] Straw4yu opened #70 "[Feature] Redesign the Card and Search Component"
## Problem

The current card and search component is not attractive visually and does not meet the standard of design.

## Description

This feature will make the section more attractive and open to all.

## Alternatives

## Additional context

As a Frontend developer, the section does not meet a good standard and needs to be worked on. The goal is to make an attractive and good looking search sec

[2022-10-12 10:05] Straw4yu commented on #70
@possumbilities and @TimidRobot I'll like to work on this issue.

[2022-10-12 10:08] ImaJin14 commented on #67
@MariamOsman11 you issue wasn't explicit and that's why hers wasn't noticed as a duplicate

[2022-10-12 10:54] SharleenAwinja commented on #67
@MariamOsman11 I plan on using this website as a template to improve the header: https://creativecommons.org/use-remix/
If @possumbilities is okay with using that website as a template for the header, we could work on the feature together since there is a lot that can be added to the header based on that template.

[2022-10-12 11:54] PreciousOritsedere commented on #70
@Straw4yu can we work on this together? When the issue is approved of course

[2022-10-12 12:13] PreciousOritsedere opened #73 "[Feature] Include a section with a descriptive content of what CC Search is about"
## Problem
CC Search doesn't have any descriptive content that tells the user what the site is about.
![Screenshot (76)](https://user-images.githubusercontent.com/104203890/195339053-8b659b23-c451-4781-9125-3af63370ade6.png)

## Description
This feature will add more context to the website. So that when a user taps in, they can read a brief description of what the site is about. see. This will mak

[2022-10-12 12:14] PreciousOritsedere commented on #73
@possumbilities @TimidRobot  I would like to work on this issue if approved :)

[2022-10-12 13:13] ImaJin14 opened #74 "[Feature] use cc global components to customize site appearrance"
## Problem

code base doesn't make use of cc global components elements such as footer, header and explorer which will simplify project code base

## Description

CC global components provides already customized elements which could be used all over any cc site hence reducing lines of code and making page easily debug-able
## Alternatives

could allow site to use alternative components which will

[2022-10-12 13:15] ImaJin14 commented on #74
@possumbilities i think this is a great way to improve on the site if you approve for the above changes to be made will help as insight to issues #67 and #60 !!!

[2022-10-12 13:29] possumbilities commented on #67
For context, the most current header, and global header matches this site: https://opensource.creativecommons.org/ instead of the one you listed.

[2022-10-12 13:45] SharleenAwinja commented on #67
@possumbilities in that case if it is okay I would like to redesign the header using the correct site:  https://opensource.creativecommons.org/

[2022-10-12 13:47] ImaJin14 opened #75 "[Bug] <correct typing errors in search.js>"
## Description

wrong spelling of buttons on lines 15 of search.js file

## Reproduction

1.  open cc search in editor
2.  navigate to search.js file
4.  check comment  on line 15
5. See error.
##Expectations
errors should be corrected and updated to the right spelling
## Resolution

- [ ] I would be interested in resolving this bug.

[2022-10-12 16:21] AnnyTheExplorer opened #76 "[Bug] <Removing line inconsistency and correcting tab spacing in style.css>"
## Description

I will like to remove line inconsistency and correct tab spacing in style.css

## Reproduction
1. open cc search in editor.
1. navigate to style.css file.
1. check lines 9, 15, 23...
1. see error.

## Expectation

The line spacing in

## Screenshots

![1st Report](https://user-images.githubusercontent.com/109468437/195391030-d97d5cc5-a6f5-4303-b185-a9f6fe4fe8a9.JPG)

## Resolution

[2022-10-12 16:36] AnnyTheExplorer commented on #76
#76 Removing line inconsistency in style.css
@TimidRobot @possumbilities

I will like to work on this issue.

[2022-10-12 17:48] Njong392 opened #78 "[Feature] Improve on site contrast"
## Problem
Ran the site through an accessibility checker, and there seem to be some contrast issues. Especially with the white text over the greeny-background. The contrast ratio currently stands at 3.14.

## Description
People with low contrast sensitivity will have issues reading the white text on the green background. The green shade could be altered and made a little darker.
![Shot of site col

[2022-10-12 17:58] FrancoFrancis opened #79 "[Bug] Wrong Spelling(Typing Error)"
This PR   #71  by me fixes this issue

## Description
buttons typed  as **btutons** instead of **buttons** in `search.js`  file line 15.

## Implementation

- [x] I would be interested in implementing this feature.

[2022-10-12 18:11] ImaJin14 commented on #79
Conflicting with #75 but no big deals one will be closed!!!

[2022-10-12 18:13] FrancoFrancis commented on #79
I am so sorry I am creating an issue after opening a pr, according to the guidelines I am supposed to open one before creating a PR.

[2022-10-12 18:21] FrancoFrancis commented on #79
Thank you bro.

[2022-10-12 18:39] AbeerTannous commented on #65
I see this issue still open can I work on it or it been taken ?

[2022-10-12 18:41] PreciousOritsedere commented on #65
Hi @AbeerTannous I have worked on this issue, just waiting for the status to change so I can create a PR

[2022-10-12 18:41] AbeerTannous commented on #65
sounds good , thanks

[2022-10-12 18:58] ImaJin14 commented on #65
Open a PR... It'll change the status when it's under review

[2022-10-12 19:08] mildrette opened #80 "[] Incomplete code no how to run docker on the ReadMe"
when I was following the code to run Docker in the section (DOCKER COMPOSE UP) as the code set it did not work for me.

## Reproduction

1. open the terminal in my code editor
3. run code docker compose up

## Screenshots
/home/zoe/Pictures
![firstdockererror](https://user-images.githubusercontent.com/99267408/195427147-821b8116-b74c-4709-9333-5f469c4f80b8.png)

## the fixed result
* it took a whi

[2022-10-12 19:25] possumbilities commented on #80
@mildrette can you list out in the Issue what operating system and version you are running this on?

[2022-10-12 19:29] mildrette commented on #80
okay

okay I am running Ubuntu 22.04.1 LTS

[2022-10-12 19:37] #75 closed

[2022-10-12 19:40] ImaJin14 commented on #80
Okay on your Linux system your not the root user and docker was installed as a component of the root user hence the need for sudo each time you wish to run the docker container

The readme.md file doesn't need sudo as it is a general setup configuration file for users of various systems

[2022-10-12 19:43] ImaJin14 commented on #80
![Screenshot_20221012-204254.png](https://user-images.githubusercontent.com/112979436/195433603-48891576-9e1a-4b69-bd29-ac736c4c619c.png)

There's how to run docker without use of the sudo command !!!

[2022-10-12 19:44] mildrette commented on #80
understood thank you very much

[2022-10-12 19:47] possumbilities commented on #63
I'm liking this idea, but I feel like the wording needs to be spelled out here (in the Issue, or in the conversation on this Issue) so that it can be helpful to newcomers, but not add accidental confusion in other ways.

@PreciousOritsedere do you have an exact idea of wording you want to use here?

[2022-10-12 19:48] possumbilities commented on #63
It's also fine for others to comment here what they think would be best to write to add, and once we've all settled on something then we could move towards finalizing the Issue and getting it ready to have an appropriate related PR :)

[2022-10-12 19:53] PreciousOritsedere commented on #63
Yes I have some ideas
Under the 'Setting Up the Project' section, I wanted to include:
The three main tools you'll need on most projects here are:
1. Docker App (Docker does some heavy lifting, but it's mostly for background use)
2. A code editor/IDE (VS Code, Sublime, Nova, etc.)(This is where the bulk of the work, like cloning your repo, and making your code changes, will be done)
3. A command-l

[2022-10-12 19:55] possumbilities commented on #80
Thank you for hoping this! But I'm closing this since there's a way to resolve this otherwise from the user-end, as explained above by @ImaJin14

[2022-10-12 19:55] #80 closed

[2022-10-12 19:55] PreciousOritsedere commented on #63
@possumbilities  Also I have a recorded video of how to install Docker and clone the repo and also render it to the browser. If it's fine with you, I can make it available through a link that we could also add to the readme.md

[2022-10-12 19:56] possumbilities commented on #79
duplicate of #75

[2022-10-12 19:56] #79 closed

[2022-10-12 19:57] possumbilities commented on #78
This entire project needs to be brought up to the current design standards on newer site, BUT that's not likely to happen overnight and I could see the argument that we should possibly resolve this in the short-term.

[2022-10-12 19:58] possumbilities commented on #76
@AnnyTheExplorer can you also outline that the tab spacing needs correcting in the Issue?

[2022-10-12 19:59] mildrette commented on #80
okay

[2022-10-12 19:59] Njong392 commented on #78
Amazing. Could I be assigned to this? I'll get working on it.

[2022-10-12 20:03] possumbilities commented on #73
I like that you're focusing on improving the UX, and am grateful for you taking the time to contribute the idea! ❤️

But, this is a Search Portal, and similar to things like Google.com adding extra content can actually decrease the UX. Most of this information about what the site does is on the page below the logo, or further down past the initial search engine options.

[2022-10-12 20:08] possumbilities commented on #66
This is a rather large issue in scope, and I think it would be best to split this off into different areas or pages, and there are already a few Issues that are setup to do that.

For example:
* #60
* #67
* #70
* #74

[2022-10-12 20:08] #66 closed

[2022-10-12 20:10] possumbilities commented on #37
It seems like this Issue isn't being worked on by @Biki-das if someone else wants to work on a relevant PR for it.

[2022-10-12 20:12] possumbilities commented on #63
@PreciousOritsedere that's very kind of you, but we generally try to keep documentation as text only as much as possible to keep the codebase light-weight and as accessible to everyone :)

[2022-10-12 20:21] PreciousOritsedere commented on #63
Okay. That's noted. How about the suggestion I have updated the issue comment. Others can add more suggestions too :)

[2022-10-12 20:47] ImaJin14 commented on #63
@PreciousOritsedere I think you should also include information for windows system users who are having a lot of problems setting up the docker container

[2022-10-12 20:52] AnnyTheExplorer commented on #76
Absolutely

[2022-10-12 20:56] AnnyTheExplorer commented on #76
Do I have permission to work on the issue?
@possumbilities

[2022-10-12 20:59] possumbilities commented on #76
@AnnyTheExplorer sure, please do. ❤️

[2022-10-12 21:00] possumbilities commented on #48
@Biki-das Are you still working on this?

[2022-10-12 21:11] dikehprosper commented on #63
Hi @possumbilities

On the wording,
For languages, I'd use the second person pronoun, an active voice, and American spellings. I will also be using markdown for the texts.

[2022-10-12 23:15] bukolamunis commented on #37
i am currently working on it, thank you.

[2022-10-13 07:29] PreciousOritsedere commented on #63
@ImaJin14 thats a great suggestion. You can drop it here in the comments so @possumbilities can confirm that it’s okay for me to add it

[2022-10-13 07:33] PreciousOritsedere commented on #60
Hi @OsujiPius are you still working on this? Or can I get on it? 😊

[2022-10-13 07:45] OsujiPius commented on #60
Hey @PreciousOritsedere I am on it

[2022-10-13 08:48] Straw4yu commented on #70
@possumbilities The new card component is more visually appealing because it consists of images that portray the information displayed on the cards, giving the viewers an understanding, also the images create a nice contrast to match with the newly designed footer (in black and white) giving off a simple and contrasting use of colour.

The new card component portrays a direct meaning of the inform

[2022-10-13 09:09] ImaJin14 commented on #70
@Straw4yu your issue has been approved hence a PR will very much be appreciated with free license documents of course:)

[2022-10-13 09:16] ImaJin14 commented on #63
@dikehprosper we prefer all documents not to have a gender pronoun so it is accessible to all pronouns!!!

[2022-10-13 09:17] PreciousOritsedere commented on #70
@ImaJin14 to avoid confusion, no it haven’t been approved. It has the ‘ticket work required’ status because it needs more explanatory details before it can be considered for approval .

When it happens the ‘ready for work’ status, that’s when it can be worked on and a PR can be created.

[2022-10-13 09:19] PreciousOritsedere commented on #70
@Straw4yu if this is to be implemented, that means we’ll need to get descriptive images for each search component?

[2022-10-13 09:22] ImaJin14 commented on #70
For each search engine rather:)

[2022-10-13 09:26] Straw4yu commented on #70
@ImaJin14 Yes, for each search engine. That's why I made another clearification on the existing feature.waiting for @possumbilities for approval.

[2022-10-13 09:27] PreciousOritsedere commented on #70
I think it’s a nice idea 😊 I like it

[2022-10-13 09:29] ImaJin14 commented on #70
Yeah that's y he is giving more details on how and what his issue is about

I'm just stating that he could work on the issue locally while awaiting for the status ready for work to push his commits:)

PS he will need to provide either SVG or PNG files for the various search engines and they have you be open source...

[2022-10-13 09:34] ImaJin14 commented on #63
Okay for windows user I think it's better they set up the wsl module so as to use Linux on their windows os which will go a long way to reduce and simplify the use of docker:)

You'll need to run a test locally to be sure the link provided sets up the wsl feature correctly so they can go back to default setup process while using the Linux terminal with docker!!!

[2022-10-13 09:35] ImaJin14 commented on #63
Do wait for @possumbilities review on my suggestions to the readme.md file

[2022-10-13 09:39] Straw4yu commented on #70
@ImaJin14 Yes... each search engines will have an image file that portray the information on what the search engine does.

[2022-10-13 09:57] dikehprosper commented on #63
@ImaJin14 thanks for the correction

[2022-10-13 10:06] ImaJin14 commented on #63
Also remove the code base under deployment so as not to raise confusion on how to sync your local repository with the remote repository!!!

[2022-10-13 10:12] mbonamensa opened #84 "[Bug] <Improve readability by correcting tab inconsistencies in home-buckets.php>"
## Description
 The tab inconsistencies and spacing make the code difficult to read even with the comments indicating closing tags.

## Reproduction

1. Open cc search in the editor
2. Navigate to cc-wp/home-buckets.php
3. Check lines 3-5, 74-108
4. See error.

## Expectation
I expected to see indexing in the code that would make it a bit more readable

## Screenshots
![Screenshot (38)](https://us

[2022-10-13 10:13] mbonamensa commented on #84
@possumbilities can you please assign me to do this? I'd love to start work on it.

[2022-10-13 10:17] dikehprosper commented on #63
For easy syncing…users should manually sync the fork on their GitHub pages with the source…then run “got pull” in the shell of their IDE

[2022-10-13 10:20] ImaJin14 commented on #63
The command is git pull...

[2022-10-13 10:21] dikehprosper commented on #63
Yeah was a typographical error I corrected already

[2022-10-13 10:53] dikehprosper opened #85 "[Feature] Redesign the input Component"
## Problem
The current  input component is not attractive visually and also does not meet the standard of design.

## Description
This feature will make the section more attractive and open to all

## Alternatives

## Additional context
As an experienced Front-end developer, the input section does not meet a good standard and needs to be worked-on. The results would make an attractive and good-loo

[2022-10-13 11:04] dikehprosper commented on #85
@possumbilities @TimidRobot I would love to work on this

[2022-10-13 11:28] mbonamensa commented on #85
This looks good @dikehprosper and I agree the design needs improvement. I think the whole site can look better.
@possumbilities is there a design document that is standard for the website?

[2022-10-13 14:11] PreciousOritsedere commented on #48
Hey @Biki-das Are you still working on this? Or can I take it up?

[2022-10-13 14:20] JeffyDave opened #86 "[Feature] Creating a pop-up message for countries whose laws do not affect the rights of creators and authors"
### Problem
Countries on the CC Rights Back Resource Page that their laws do not affect the rights of the author or creator have no specific action on the map even when being clicked.

### Description
We can change this by adding the dbclick feature in JS which shows the message to the users that the country they are currently in does not affect their rights as the author or creator on their creat

[2022-10-13 14:29] JeffyDave commented on #86
@possumbilities @TimidRobot I would love to work on this. Could you please triage this issue?

[2022-10-13 14:37] possumbilities commented on #86
@JeffyDave Thankyou for taking the time to contribute! What page of the CC Search Portal are you referring to?

[2022-10-13 14:50] JeffyDave commented on #86
This page https://rights-back-beta.creativecommons.org/
I went through it and I thought it would make a better experience for users

[2022-10-13 14:52] JeffyDave commented on #86
![Screen Shot 2022-10-13 at 3 48 42 PM](https://user-images.githubusercontent.com/106249556/195630905-7ce7d59a-49a0-4e20-9408-43f981b07385.png)

This is the picture of the map I'd love to work on.

[2022-10-13 14:56] possumbilities commented on #86
@JeffyDave Ah, I see. While I appreciate your desire to improve the UX, this page is not related to this project (CC Search Portal)

The site you've linked is for this project: https://github.com/creativecommons/reversionary-rights I'd suggest you go there, read through the Issues present (if any), and go from there with any further contributions. :)

[2022-10-13 14:56] #86 closed

[2022-10-13 15:27] JeffyDave commented on #86
Okay, thank you very much

[2022-10-13 17:26] dullbenz commented on #48
I'm currently working on this issue

[2022-10-13 17:56] Marvisjaja opened #87 "[Feature] <Replace this with actual title>"
## Problem

## Description

## Alternatives

## Additional context

## Implementation

- [ ] I would be interested in implementing this feature.

[2022-10-13 18:05] Marvisjaja commented on #67
I would like to work on this project

[2022-10-13 18:09] AnnyTheExplorer commented on #76
Thank you!
#76 Done

[2022-10-13 18:24] Straw4yu commented on #70
@possumbilities waiting for approval to get this implemented. Thank you.

[2022-10-13 18:34] ImaJin14 commented on #87
This issue has no description and hence warrants closure:)

[2022-10-13 18:39] Marvisjaja commented on #78
please where is the link to the entire project? some slight arrangements are required

[2022-10-13 18:46] possumbilities commented on #78
@Marvisjaja the entire project I'm referring to is the codebase these Issues are attached to. https://github.com/creativecommons/search/

[2022-10-13 19:42] Njong392 commented on #78
Hey @possumbilities sorry if I am taking forever on this, but I am having issues with docker. The README says to install docker, but then `docker compose up` won't work without installing `docker compose` Even after that, `docker compose up` still says `'compose' is not a docker command.`

![Screenshot from 2022-10-13 20-41-36](https://user-images.githubusercontent.com/81039882/195694143-77247a0c-

[2022-10-13 19:50] possumbilities commented on #85
@dikehprosper Thank you for pointing this out, and for this contribution! (submitting an issue, even if it doesn't move to a status that can be worked on immediately, is still a contribution, and we're grateful for it)

I agree with you that this is something that needs to be addressed but at the moment there isn't a clear path for handling a search input on the newer design (see https://opensourc

[2022-10-13 20:00] possumbilities commented on #70
@Straw4yu hello, and thank you for proposing this! It's an intriguing idea.

Something I'd like all of us to discuss here in the comments is what precise images would be selected. Do you have a series in mind, keeping in mind that they would have to be images that are within our ability to use rights-wise?

As an alternative viewpoint, what are the arguments against this approach? I agree it's vis

[2022-10-13 20:18] possumbilities commented on #78
@Njong392 Since this is a little off topic would you mind moving this to the community slack `#cc-dev-workprograms` channel? I'd suggest asking the same question there, and providing operating system, and version details along with this screenshot. Hopefully myself or someone else in the community will have a solid answer to help :)

[2022-10-13 20:19] Marvisjaja commented on #78
Am a new comer . And I seem lost . Don’t know how to contribute etc . 

Sent from Yahoo Mail for iPhone

On Thursday, October 13, 2022, 7:46 PM, possumbilities ***@***.***> wrote:

@Marvisjaja the entire project I'm referring to is the codebase these Issues are attached to. https://github.com/creativecommons/search/

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiv

[2022-10-13 20:47] SharleenAwinja commented on #67
@possumbilities  I've added more information explaining the issue and I'd like to work on it.

[2022-10-13 20:52] possumbilities commented on #78
@Marvisjaja I'm glad you want to contribute, but the better place to ask this is likely the [Community Slack](https://opensource.creativecommons.org/community/#slack), if you haven't already. If you ask there you should be able to get a lot of answers from community members about Contributing. :)

[2022-10-13 21:46] dikehprosper commented on #85
@possumbilities alright ma

[2022-10-14 06:17] VictoriaAjala commented on #78
Hello @possumbilities It seems @Njong392 is having issues with this, can i possibly work on this? I would be glad to help.

[2022-10-14 06:48] Marvisjaja opened #88 "[Feature] Improve the site Responsiveness"
## Problem
The site responsiveness is already made available via my check on the code base  (source code), but from my observation it isn't at least 100% Responsive, i checked this using a screen size starting from 300px  X  600px,  (widthpx X heightpx), then went down to 255px X 600px and noticed that the page body went out of device width.

![cc-search](https://user-images.githubusercontent.com/

[2022-10-14 08:36] mbonamensa commented on #88
Hi, @Marvisjaja @possumbilities  I'm interested in helping resolve this if that's okay.

[2022-10-14 09:07] ImaJin14 commented on #78
@Njong392 is working on it... She just has a measure setback with configuring her local work station which I'm sure should be done by today....

Please wait if by tomorrow she hasn't made and effort you can then work on it:)

[2022-10-14 09:48] JennySimen opened #90 "[Bug] Js error `j.handler.apply is not a function` showing in the console locally"
## Description
After running the project, there is an error in the console `Uncaught TypeError: j.handler.apply is not a function`. This error does not seem to affect the platform so far but it needs to be fixed.

Upon investigation, the error comes from `script.js` file on line **114** where we are displaying a carousel. On the instance where the carousel is not displayed, this causes the error i

[2022-10-14 10:10] Marvisjaja commented on #78
Thank you for replying pls can I get the slack url so I can join the community 

Sent from Yahoo Mail for iPhone

On Thursday, October 13, 2022, 9:57 PM, possumbilities ***@***.***> wrote:

@Marvisjaja I'm glad you want to contribute, but the better place to ask this is likely the Community Slack, if you haven't already. If you ask there you should be able to get a lot of answers from community me

[2022-10-14 10:26] dikehprosper commented on #70
@possumbilities first of all, about the issue of image loading,
we can optimize them and make them load faster by....
using a resizable  SVG image for different browsers i.e (without a fixed width and height allowing it to stretch to whatever the container allows it).... alongside using a 'viewBox' attribute to allow the content to scale properly.

2. about the accessibility issue
...

The safest

[2022-10-14 11:09] pragmaticAweds opened #91 "[Feature] Improving the legibility of the site content to enhance readibility"
## Problem
Website content should be legible to increase readability in the user experience. This is an important aspect that also contributes to users staying or leaving the website.

I checked the website, and the first thing that caught my attention was the font size which was too small. This can prevent users with/without eye problems to read the content of the website.

## Description

This i

[2022-10-14 11:20] mbonamensa opened #92 "[Bug] <Remove styles in index.php and place them in style.css>"
## Description

Styles have been placed within the page markup. This is not the best practice and can make the markup code look messy.

## Reproduction

1. Open cc search in your editor
2. Navigate to index.php
3. Check lines 235 and 261
4. See error.

## Expectation

It is best practice to keep styles separately from the markup. This will make the markup cleaner and the styles easy to maintain.

[2022-10-14 11:23] mbonamensa commented on #92
Hi, @possumbilities I'd be happy to work on this issue, please assign me. I would also want to fix the indentation and tabs to make it more readable and cleaner while at it. Can I do that while working on fixing the styles or I should create another issue specifically for that?

[2022-10-14 13:40] possumbilities commented on #78
@Marvisjaja Sure, the link is here in the original comment I left earlier:

[2022-10-14 13:53] PreciousOritsedere commented on #88
@possumbilities Can I work on this?

[2022-10-14 13:57] PreciousOritsedere commented on #63
@possumbilities There isn't any status label on this issue, does that mean it's ready for work and I can proceed to work on it and request a PR?

[2022-10-14 14:01] PreciousOritsedere commented on #63
Hi can you throw more light on this? preferably the wordings and steps, so we can all understand. Because I didn't have to run wsl, so maybe you could drop the steps here as a comment? and @possumbilities can review

[2022-10-14 14:02] PreciousOritsedere commented on #63
yes, I usually do this most times , I feel it's easier

[2022-10-14 17:46] Marvisjaja commented on #78
Okay . I opened an issue that I would love to work on. But no reply yet . Can you help me with that ? I want to work on the responsiveness 

Sent from Yahoo Mail for iPhone

On Friday, October 14, 2022, 2:40 PM, possumbilities ***@***.***> wrote:

@Marvisjaja Sure, the link is here in the original comment I left earlier:

@Marvisjaja I'm glad you want to contribute, but the better place to ask thi

[2022-10-14 17:48] dikehprosper opened #93 "[Feature] Search Input handling"
## Problem
 At the moment there isn't a clear path for handling a search input .

## Description
this targets the functionality of search input not the design as the design can be made to suit CC global components.
suggesting the search input handling......
1.  the user type in the search word,
2.   the user chooses a search option (should be highlighted) and
3.  clicks on the search button.
4.  w

[2022-10-14 17:52] Marvisjaja commented on #88
Hi, good day @possumbilities , I'm still waiting for a (Positive) Response, as I'm highly interested to rectify and resolve this issue

[2022-10-14 19:57] possumbilities commented on #78
@Marvisjaja Thanks for contributing, but please move this conversation to the Community Slack or the related Issue, so we don't clutter up this Issue which is not related to your help :)

[2022-10-14 20:16] #65 closed

[2022-10-14 20:16] #76 closed

[2022-10-14 20:20] possumbilities commented on #84
After further research, I don't believe this file is used in a visible way anymore (if it ever was). So I'm closing this Issue since these changes won't be necessary.

Thank you for pointing it out none-the-less! ❤️

[2022-10-14 20:20] #84 closed

[2022-10-14 20:22] possumbilities commented on #93
Thank you for pointing this out! I think this is a reasonable UX problem. I'm interested in any solutions anyone has for how to improve this flow to make it a bit more intuitive?

[2022-10-14 20:25] possumbilities commented on #88
I agree this is an Issue. However, I'm moving this to `status: blocked` since a lot of other design work needs to happen before this is addressed in a measurable way. Thanks, so much for documenting it here!

[2022-10-14 20:50] dullbenz opened #94 "[Feature] Add Thingiverse as an External Source"
## Problem
The goal is to add a good number of external sources to give users a variety of results from different sources.

## Description
In particular, [Thingiverse](https://www.thingiverse.com/) is one such external source with free 3D design models that can be downloaded and used.
Adding Thingiverse as an external source to CC search will be a good addition and will benefit our users.

![image

[2022-10-14 21:00] Marvisjaja commented on #88
Good evening sir/Ma, please i need to know, since you're moving this issue to status blocked because of other designs that need to be in place, do i still need to bring  this up as a contribution again or you'll have to remove the block status when the time is right.In essence what I'm trying to mean is, will i still have the privilege to work on this later or since the status  is blocked i won't

[2022-10-14 21:04] Munnachienyi commented on #63
hello @PreciousOritsedere are there more improvements to be done here? i would really love to contribute

[2022-10-14 21:18] JennySimen commented on #90
@possumbilities could I be assigned to this, I'll love to work on it

[2022-10-14 21:28] possumbilities commented on #88
@Marvisjaja Hi! To help clarify: creating the Issue counts as a contribution, whether it can be worked on via a PR or not. If later on it becomes unblocked it can be worked on again.

I'd refer you to the [Contribution Guidelines](https://opensource.creativecommons.org/contributing-code/#finding-an-issue) on what labels indicate an Issue is able to be worked on.

The following tags mark issues tha

[2022-10-15 00:00] dullbenz commented on #94
What caption text should we use to describe the content for Thingiverse. The site contains various 3D model designs.
Was thinking of using "**Image**" or "**MODEL_3D**" or "**3D Model**"

[2022-10-15 00:06] dullbenz commented on #48
Created a sub Issue for this specifically for Thingiverse
[\[Feature\] Add Thingiverse as an External Source #94](https://github.com/creativecommons/search/issues/94)

The idea is to have a specific issue for each external source to be added

[2022-10-15 06:56] PreciousOritsedere commented on #63
Hi @Munnachienyi we need more details on what to add before the issue can be ready.
You can help us out by suggesting what to add to the readme

[2022-10-15 07:01] PreciousOritsedere commented on #94
3D models sounds good

[2022-10-15 09:53] dikehprosper commented on #94
“3D Model” is okay

[2022-10-15 10:09] Straw4yu commented on #70
@possumbilities Some suggestions were made on this issue and we are awaiting your contribution on the suggestions made. Thank you.

[2022-10-15 11:27] JennySimen opened #97 "[Bug] the `selected` card on load functionality does not always have a card selected by default"
## Description

When you run the project, a card is selected by default. There is a usecase where no card is selected when the page loads.
This is caused by the fact that the card is randomly selected on load. The functionality for generating the randomly selected card uses the length of the engines to get a number as shown below:

`engine = engines[Math.floor(Math.random() * engines.length)];`

S

[2022-10-15 11:33] Marvisjaja opened #98 "[Feature] <Adding contrast polarity>"
## Problem
Contrast Polarity refers more to the background and text, Switching from light to dark, and back again to light with a click. A feature like Positive contrast polarity (light mode) which refers to dark-font text on light background and Negative contrast polarity (dark mode) which denotes the combination of light (e.g., white) text on dark (e.g., black) background is highly recommended o

[2022-10-15 11:35] Marvisjaja commented on #98
Please @possumbilities i will be waiting, as i would really love to work on this issue

[2022-10-15 11:58] JennySimen opened #99 "[Feature] Add option for selected card to be displayed from localStorage"
## Problem

From the current system, the search engine cards can be selected either randomly, or when a card is clicked.

In the usecase of returning users who always prefer a particular search engine for example, this means they always have to click on that card everytime they open the platform (unless it is hopefully randomly selected).

## Description

A third option could be set, where the las

[2022-10-15 12:14] PreciousOritsedere opened #100 "[Feature] Add an external source for movie search/downloads"
## Problem

Seeing that there’s already an external source for music, adding an external source for movies will give the users an extra variety of options.

![AA8E239C-9D1D-41E0-A0EE-16FB1E01CE3C](https://user-images.githubusercontent.com/104203890/195985746-65210c4a-87ad-4bdf-a33c-59c5cd73d5af.jpeg)

## Description
This is feature is aimed towards adding [Fzmovies](https://fzmovies.net/) as an ex

[2022-10-15 12:14] PreciousOritsedere commented on #100
@possumbilities if this issue is approved, can you please assign to me? I’d love to work on it 😊

[2022-10-15 12:32] mbonamensa commented on #92
Hi @possumbilities can I go ahead and work on this?

[2022-10-15 12:36] mbonamensa commented on #84
Alright, thanks for letting me know ❤️

[2022-10-15 13:20] dikehprosper opened #101 "[Feature] Add Bookshare as an external source"
## Problem

With priorities to add a good number of external sources to give users a variety of results from different sources.

## Description
 [Book share](https://www.bookshare.org/cms/search-freely-available) is one such external source with copyright free ebooks available to anyone.

Adding Bookshare as an external source to CC search will be a good addition and will benefit our users.

## Im

[2022-10-15 13:40] bukolamunis commented on #101
iHello, i would like to give this a try, its similar to a task i am rounding up.

[2022-10-15 14:48] dikehprosper commented on #101
@bukolamunis thanks ma’am….I already indicated interests

[2022-10-15 15:12] bukolamunis commented on #101
oh my bad! i didn't know that was you stating interest,yes; i would like to work on it together, would reach out. thanks.

[2022-10-15 18:09] dullbenz commented on #94
#### I've run into a little issue with this task.
In effect, the problem is that in order to  apply the _"commercial purposes"_ and _"modify, adapt ..."_ filters as indicated by the checkboxes in the picture below, I browsed the [Thingiverse](https://www.thingiverse.com/) site and discovered that applying the _"customizable"_ filter corresponds to _"modify, adapt, ... "_ for CC search.

![image](h

[2022-10-15 19:11] ImaJin14 commented on #74
@possumbilities the cc global components includes the cc footer... Cc header and cc explorer which if embedded into the search site will go a long way to remove all css styles related to this the already existing footer and header making the UI better with fewer lines of code

[2022-10-15 19:11] ImaJin14 commented on #74
This will also reduce bugs

[2022-10-15 19:15] dullbenz commented on #94
I used the search param __"&license=cc"__ (which on Thingiverse stands for the CC Attribution Licence) as the equivalent to the _"use for commercial purposes"_ filter on __"CC search"__.

[2022-10-15 21:04] bunmix commented on #37
Hey @bukolamunis, I noticed you don't have a PR for this yet, I will like to join you working on this.
cc @possumbilities

[2022-10-15 21:21] ImaJin14 commented on #92
Status Shows that this issue has not yet been accepted

[2022-10-16 05:11] ImaJin14 opened #104 "[Feature] remove section Try Openverse: Openly Licensed Images, Audio and More."
## Problem

Try [Openverse](https://wordpress.org/openverse/?referrer=creativecommons.org): Openly Licensed Images, Audio and More. wont be required as openverse will be added to CC Search Portal engines
## Description

as openverse will be added to cc search portal engines, there wont be need to allow the statement that prompts users to try openverse
## Alternatives

could be left same which will

[2022-10-16 06:45] dipanshuraz commented on #93
Hi everyone, I'm outreachy applicant, I'm interested to pick this up.

[2022-10-16 06:47] dipanshuraz commented on #100
Hi @PreciousOritsedere, I'm outreachy applicant, I'm also interested to pick this up. maybe we can do this together,
Please let me know 😄

[2022-10-16 06:48] dipanshuraz commented on #99
Hi @JennySimen, I'm an outreachy applicant, I'm interested to pick this up. Maybe we can work on this together let me know 😄

[2022-10-16 06:49] dipanshuraz commented on #98
Hey @possumbilities , @Marvisjaja I'm an outreachy intern, I'm interested in picking this up, Let me know if we can work on this together @Marvisjaja

[2022-10-16 07:50] ImaJin14 commented on #93
@dipanshuraz this work still needs the status ready for work before it can be worked on

[2022-10-16 07:50] ImaJin14 commented on #93
@dipanshuraz this work still needs the status ready for work before it can be worked on

[2022-10-16 07:54] ImaJin14 commented on #99
@JennySimen I really don't think that will be necessary as cc search is just a portal to alp these search engines...  Meaning each time you enter a search query and chose a search engine it automatically redirects you to that search engine in a new tab

This way you just have to search using the cc search portal and a desired search engine of your choice all the time

[2022-10-16 07:54] ImaJin14 commented on #99
Either ways let's see what @possumbilities has to say

[2022-10-16 09:51] PreciousOritsedere commented on #100
Hey! Sure. I’d be happy to collaborate with you in this.

[2022-10-16 10:48] JennySimen commented on #99
@ImaJin14 using localStorage (or any other client side storage) does not prevent you from using the portal as you have mentioned above. Let me give you more context as it seems you didn’t understand the usecase.

I am a new user and the first time I searched on the platform `google photos` was selected. While I was on the platform, I refreshed the page and then searched again but Instead `ccMixter

[2022-10-16 10:53] ImaJin14 commented on #99
Okay understood ✅

[2022-10-17 06:54] pragmaticAweds commented on #91
Hi @possumbilities @TimidRobot Please can you triage this? I would love to start working on it.

[2022-10-17 10:00] Rubadel commented on #90
Could I work On this task ? I am excited to do if it is still available

[2022-10-17 10:17] Rubadel commented on #37
Is the task available to take, or is there any needing for help? I am interested .. please let me know

[2022-10-17 10:19] adetyaz commented on #104
hello @ImaJin14 I'm an outreachy applicant,  I would be interested in implementing this feature. or at least join you if you are already

[2022-10-17 10:24] ImaJin14 commented on #104
Let the project status change fes

[2022-10-17 10:28] adetyaz commented on #97
I think this is working now, I have tried it and it selects a card

[2022-10-17 10:41] adetyaz opened #106 "[Bug] Improve responsiveness on Tablet screens"
## Description
When the project is run on a tablet screen it should be properly responsive with no overlapping elements.

## Reproduction

1. Run the project locally
2. Change the screen size to the tablet viewport
3. See the search portal text overlapping the button

## Expectation
The we interface should be responsive on all screen sizes

## Screenshots

![responsiveness bug](https://user-images

[2022-10-17 10:41] JennySimen commented on #97
@adetyaz it still does not always select a card. I can still find the usecase where no card is selected.
I have also pulled from upstream to make sure I have the updated code but I still see the bug.

Since the numbers are randomly generated, try reloading multiple times

[2022-10-17 11:16] adetyaz commented on #97
I'll do that and get back to you on it. @JennySimen

[2022-10-17 11:18] adetyaz commented on #97
Yes its true, I just experienced it now @JennySimen, after reloading about 5 times.

Can I take a stab at it?

[2022-10-17 11:59] JennySimen commented on #90
@Rubadel I already work on it and created a PR

[2022-10-17 12:06] JennySimen commented on #97
@adetyaz currently, the ticket still has to be evaluated. If the status changes to `ready for work`, you can ask @possumbilities to assign the ticket to you

[2022-10-17 12:32] adetyaz commented on #97
Alright thank you.

[2022-10-17 12:43] dikehprosper commented on #93
A solution I would suggest is allowing a user to select his/her search engine first, then type in search-word, then click on the provided search button for answers.

[2022-10-17 12:46] dikehprosper commented on #93
hi @dipanshuraz I already indicated interest tho but we can work on it together when approved since you have shown interest too

[2022-10-17 13:14] bukolamunis commented on #37
Hello @bunmix   you were aware that I was working on this task and asked if we could work on it together. I had already created a repository with my changes the previous day. However, you opened a PR just a few hours after your comments, before I could inform you that I was already almost done and about to create a pull request, thus kicking me off a task I had spent days working on. I don't think

[2022-10-17 18:11] ketchanji commented on #93
hello every am working on the search button at suppon to be on.

https://oldsearch.creativecommons.org/
https://github.com/creativecommons/search

[2022-10-17 18:28] dikehprosper commented on #93
Hello @ketchanji it hasn’t been approved yet to do so……and there are people already proposing to do it…to avoid code conflict I would advice you ask to join

[2022-10-17 19:12] ketchanji commented on #93
so what am i to do now ?

[2022-10-17 19:18] possumbilities commented on #93
Hello everyone, just a reminder that people shouldn't be working on this yet since it doesn't have a `status: ready for work` on it.

From the [Contribution Guidelines](https://opensource.creativecommons.org/contributing-code/#finding-an-issue):

The following tags mark issues that are not open for community contribution:
🚧 status: blocked: Blocked by other work that needs to be done first
🧹 statu

[2022-10-17 19:23] ketchanji commented on #93
please sir @possumbilities in that case its difficult for us cause am loocking for projects i can contribute too but am  not seeing any and also am i don't know were i can fine some ongoing projects to work on.

[2022-10-17 19:26] dikehprosper commented on #93
@ketchanji you can create an issue to work on an then wait for it to be approved and work on it

[2022-10-17 19:32] ketchanji commented on #93
ah ok sir @dipanshuraz . should i still wait or i should create a different issue,

[2022-10-17 19:39] #90 closed

[2022-10-17 19:45] #94 closed

[2022-10-17 19:57] possumbilities commented on #106
This is already related to an existing issue:
* #88

[2022-10-17 19:57] #106 closed

[2022-10-17 19:58] possumbilities commented on #98
Adding "dark mode" compatibility is something worth considering, but it should occur after the site has been redesigned to avoid having to redo it all over again when the design changes. Blocking for now.

[2022-10-17 20:04] possumbilities commented on #99
I'm inclined to agree that this is not necessarily a UX use-case we'd want to support. Users landing on the site would likely perform further searches on the landing engine once they arrived there. The Portal is just a jumping off point.

I think what might be the underlying issue here that's more likely is that there isn't clear UX on the steps taken for a user to utilize the portal itself. I can

[2022-10-17 20:08] possumbilities commented on #100
I'm closing this since my understanding of FZMovies is that it is not a CC Licensed source of movies, but is instead considered an illegal non-licensed download site.

Please keep in mind we only want to add engines that offer legitimate Creative Commons licensed results.

[2022-10-17 20:08] #100 closed

[2022-10-17 20:13] possumbilities commented on #101
Can someone offer more details about Bookshare, it seems it operates more as a lending library, and is not a resoruce of CC Licensed materials in any searchable capacity?

[2022-10-17 20:13] PreciousOritsedere commented on #63
@possumbilities gentle reminder about this issue 😊

[2022-10-17 20:15] possumbilities commented on #104
This is blocked until the Openverse engine gets properly added in.

[2022-10-17 20:44] JennySimen commented on #93
@dikehprosper here is a suggestion on how to direct users on using the search functionality.

A starting point could be to add some directions on how to go about searching.

For example:

Let's say replacing the search input placeholder with `Search using ccMixter engine (selected engine)`.

Then adding a text below the search input saying `You can choose another search engine below`.

Well! the m

[2022-10-17 21:47] dullbenz opened #107 "[Feature] Add Sketchfab as an External Source"
## Problem
This is a sub-issue steming out from Issue: [[Feature] Additional source suggestions](https://github.com/creativecommons/search/issues/48) #48
The goal is to add a good number of external sources to give users a variety of results from diverse legal sources.

## Description
From the additional sources list of Openverse available in the file [get-additional-sources.ts](https://github.com

[2022-10-17 21:53] dullbenz commented on #48
Create a sub-issue for this specifically for adding [Sketchfab](https://sketchfab.com):
[[Feature] Add Sketchfab as an External Source ](https://github.com/creativecommons/search/issues/107) #107

[2022-10-17 22:57] Fikayomii commented on #67
@possumbilities I would like to work on this issue

[2022-10-17 23:52] ImaJin14 commented on #63
@PreciousOritsedere I think it'll be good to remove all the data about how to fork your repo and make set it up locally and just used a link to the GitHub tutorials... That way we have fewer notes in the readme.md file and the user has access to alot of information about working with GitHub...

[2022-10-18 00:30] Marvisjaja commented on #98
Hello mentor possumbilities . I am marvis macjaja isi by name from Nigeria.A genius in making  in css , html , JavaScript and other languages. An outreachy Applicant . I am elated to be part of this great family and zealous on making my contributions on the refactor cc meta search. And I appreciate you for your guidance so far . Am privileged to have you . 
Sent from Yahoo Mail for iPhone

On Mond

[2022-10-18 00:34] ImaJin14 commented on #98
hi.... this issue has a blocked status meaning it can't be worked on at the moment:)

[2022-10-18 01:27] ketchanji commented on #93
okk sir thanks you i understand.

[2022-10-18 01:45] ketchanji commented on #93
@dikehprosper sir can i add this to my contribution record as assisting in idea on how to come about the solution?

[2022-10-18 06:30] dikehprosper commented on #93
@ketchanji there is an ongoing discussion on how the search input can be handled….I would advice you relay a tangible suggestion…and then add it to your contribution.

[2022-10-18 06:32] dikehprosper commented on #93
This is good @JennySimen

[2022-10-18 09:57] Rubadel commented on #48
@dullbenz Hi dear, I want to work on this task also, I have some suggestions, but I need helping about thing, could I ask you about.
Thanks

[2022-10-18 10:04] Rubadel commented on #74
@ImaJin14  I am  interested in implementing this Task with you , as I have some designing for make it better ..

[2022-10-18 11:13] adetyaz commented on #97
@possumbilities please I need help, any changes I make to the search.js file doesn't reflect. I have also tried a console.log and alert yet no indication that there has been any changes on the file.

[2022-10-18 13:22] possumbilities commented on #63
We're making plans to move some beginner documentation to a better resource. See this comment from Timid Robot on another repository: https://github.com/creativecommons/cc-legal-tools-app/issues/308#issuecomment-1281495855

I'm gonna leave this open for the time being, but in a status of blocked, anyone can feel free to keep commenting, but we'll likely move towards getting this guidance in a usef

[2022-10-18 13:24] possumbilities commented on #97
@adetyaz  Hi! I'm sorry you're having trouble, when working locally it is likely that your local cache is not clearing when you change the file. You'll have to clear your browser cache after changing the file to make sure the changes are reflected correctly.

[2022-10-18 13:28] adetyaz commented on #97
Alright, I'll do that  and get back on it. thanks @possumbilities.

Side note: when I make changes to text on the interface it changes

[2022-10-18 14:49] bukolamunis commented on #101
@dikehprosper if i may;
 Although its a really good idea, it would not work as a resource to add to CC search engine for a few reasons;
1. when a book is searched it takes users to a signup page rather than to the book.
2. Bookshare is a service available only to persons with a Print Disability, either a visual impairment, learning challenge, or physical limitation that prevents them from using tr

[2022-10-18 14:53] bukolamunis commented on #101
hello, what is your slack handle for communication

[2022-10-18 15:27] TimidRobot opened #108 "[Feature] Emphasize Openverse"
## Problem
Openverse is a project closely tied to Creative Commons. It is good that we are currently visually emphasizing it with a banner. However, once #37 and #104 are completed, the banner will no longer exist.

## Description
Once the issues noted above are completed, we should find a new way to visually emphasize Openverse  (maybe a thicker button border, bold text, etc.).

Additionally (or

[2022-10-18 16:01] dullbenz commented on #48
Hi @Rubadel. Yeah, sure why not?

[2022-10-18 18:11] bunmix commented on #37
Hey Bukola,
I'm sorry how things turned out and it's chiefly a misunderstanding, I
looked through the conversations around the PR and noticed a trend of pick
and drops, so when I dropped you a comment, I had hoped to get a reply
within the hour to know if you were active on it before submitting a
solution. Let's work around fixing this, I will have a chat with Sara
concerning this, if that's okay

[2022-10-18 18:11] mbonamensa commented on #92
Hi, @possumbilities @TimidRobot can you assign me to work on this?

[2022-10-18 18:26] possumbilities commented on #101
I'm gonna close this, but if you all find a more appropriate engine we could include in this territory you can make a new Feature Issue for it.

[2022-10-18 18:26] #101 closed

[2022-10-18 18:34] possumbilities commented on #37
Hello everyone. Something that I think is worth noting is that:

- submitting an Issue is a contribution.
- submitting a PR that gets accepted and merged is a contribution.
- submitting a PR that _doesn't_ get accepted, is _still_ a contribution.
- Commenting on an Issue to help is a contribution.

There are many many ways to contribute, and submitting a PR for an Issue is not the only way.

Somet

[2022-10-18 18:37] possumbilities commented on #92
Something I'd caution against is that in the above example, the inline style applies to ONLY that specific `<p>` element, but creating a general `.engines p` style would apply to ALL `<p>` elements that occur within any element with a class of `engines`. And that may not be desired behavior, so moving the inline styles out should be done with care to not let the scope of those styles leak beyond w

[2022-10-18 19:10] bunmix commented on #37
Thanks for the feedback!

On Tue, Oct 18, 2022, 7:34 PM possumbilities ***@***.***>
wrote:

[2022-10-18 19:56] #37 closed

[2022-10-18 20:28] TimidRobot opened #109 "[Bug] Recent changes negatively impacted layout"
## Description
Recent changes negatively impacted layout (as of a492cf81e6f455540ea92307168450b1a1e6616e)

## Reproduction
View locally via Docker

## Expectation
Search engines should be sorted lexicographically and each row should be full before there is a new row.

## Screenshots
![Screenshot 2022-10-18 at 13-24-06 CC Search Portal](https://user-images.githubusercontent.com/691322/196537061-a59

[2022-10-18 20:35] possumbilities opened #110 "[Feature] Setup `guides` directory with accompanying `README.md` explainer"
## Problem
There are instances where newcomers/beginners would benefit from more specific and detailed instructions related to this project than what is present in the standard `README.md`, but expanding the `README.md` file to accommodate this could make it bloated and confusing.

## Description
To resolve this we're going to add a `/guides` directory with an explainer `README.md` file within it,

[2022-10-18 21:02] dullbenz commented on #109
I'm currently working on this!!

[2022-10-18 22:09] ImaJin14 commented on #110
@possumbilities I'll be happy to document this once it's status changes to ready for work:)

Please assign it to me...

[2022-10-18 22:12] ImaJin14 commented on #109
Okay good... Although I had mentioned it in your previous pr for you to resolve the cart allignment issue....

Thanks for resolving it now:)

[2022-10-18 22:18] ImaJin14 commented on #104
@possumbilities #37 has been merged and hence this issue can be worked on now with your approval:)

[2022-10-18 22:23] ImaJin14 commented on #108
@TimidRobot please elaborate more on this issue...

[2022-10-19 06:35] dikehprosper commented on #110
i would be happy to work on this too ..... @ImaJin14 can we work together on this?

[2022-10-19 07:15] Marshalng opened #112 "[Feature] Create a guide on criteria for how search engines are selected and prioritized for inclusion"
## Problem
There is currently no guide that states the criteria  to identify search engines that can be integrated into the the project

## Description
The guide will contain detailed criteria on the how search engines to are selected for inclusion in the project

## Alternatives

## Additional context

## Implementation

-  [x]  I would be interested in implementing this feature.

[2022-10-19 08:26] mbonamensa commented on #92
Alright, I'll take note of that.
Thank you for pointing that out. I'll get started right away.

[2022-10-19 08:27] PreciousOritsedere commented on #63
Okay. A documentation does sounds better. Thank you

[2022-10-19 09:36] dullbenz commented on #109
That's true, by the time I saw your comment, it had already been merged.
So I intended to include it in my next PR after adding another engine.

[2022-10-19 12:20] ImaJin14 commented on #63
I think you've duplicated another issue here:)

[2022-10-19 12:25] ImaJin14 commented on #108
Do you mean the engine on the cart be made distinct or the issue on #104 be made distinct and not removed??

[2022-10-19 13:47] possumbilities commented on #63
This issue is not a duplicate, if anything it, along with a few others and several conversations in the community slack, has outlined the need for a more robust solution for several documentation resources. I'd consider this to be a point of inspiration, but certainly not a duplicate.

[2022-10-19 17:22] Marshalng commented on #112
This is just perfect, I can't think of anything else at the moment. I can go ahead to develop a concise guide around these when the issue is triaged.

[2022-10-19 18:54] dikehprosper opened #115 "[Feature] add Nappy as an external source"
## Problem
With priorities to add a good number of external sources to give users a variety of results from different sources.

## Description
[Nappy](https://nappy.co/) provides beautiful, high-res photos of black and brown people to startups, brands, agencies, and everyone else.Gotten from the additional sources list of Openverse available in the file [get-additional-sources.ts](https://github.c

[2022-10-19 19:09] Straw4yu commented on #70
@possumbilities Is there any review on the contributions made earlier as more details are added.

[2022-10-19 20:19] VictoriaAjala opened #116 "[Feature] You can unclick after clicking any of the search box."
## Problem

you can be able to unclick after clicking on any of the search box by mistake
## Description

## Alternatives

## Additional context

## Implementation

- [ x] I would be interested in implementing this feature.

[2022-10-19 21:25] #109 closed

[2022-10-20 07:07] Biki-das opened #117 "[Bug] Accesible engine selected have less accessibility"
## Description
The engines are currently focusable  via keyboard as done by pr #52 however the dashed outline does not seem to be a viable one for the focus , making it solid seems a more viable option

current status
![CC Search Portal — Mozilla Firefox 10_20_2022 12_36_18 PM](https://user-images.githubusercontent.com/72331432/196879666-dc8b9662-980b-49d6-bd5e-e1861d89c830.png)

Changes made afte

[2022-10-20 07:15] ImaJin14 commented on #117
@Biki-das this issue has not been triage so submitting a PR is against contribution guidelines....

[2022-10-20 07:31] Rubadel commented on #48
Hello sir,

I try to add external source engine, but I face some thing,
there are some thing I do not know what is it actually, and how/where can I get them.. so could you guide me in ..

How can I know about the engine want..
And How can I get rights/comm and other ..

[2022-10-20 07:42] Rubadel commented on #92
@mbonamensa Hi dear, if it is available I will be loved to work with you on this issue immediately  ..

[2022-10-20 08:21] Rubadel opened #119 "[Feature] Add about page rather than the latest description of landing page"
Problem
 The using way using  of website does not clear for all users, and the design confused, it can be more better

 Description
There is no "about page" as the description of the about is mentioned on the bottom of page!, That does not match good design and does not clear for all

<img width="1241" alt="Screen Shot 1444-03-24 at 11 20 31 AM" src="https://user-images.githubusercontent.com/66481

[2022-10-20 08:41] Rubadel commented on #119
@TimidRobot @possumbilities I am ready to done it immediately
could you allow and assign me to work

[2022-10-20 08:49] VictoriaAjala opened #120 "[Feature] Clicking search box before typing."
## Problem
when u click on any of the search box apart from ccMixter before typing, then you click enter. It does not search based on the search box you've clicked, instead it automatically searches it on ccMixter.

## Description
When you click on any of the search box before typing what you want to search and then click enter. It searches for what you want based on the search box you've selected

[2022-10-20 09:12] Biki-das opened #121 "CC search portal image not responsive for small devices"
## Description
The cc search portal images does not seem to be responsive for small devices as the images just overflows
## Reproduction
![CC Search Portal — Mozilla Firefox 10_20_2022 2_40_38 PM](https://user-images.githubusercontent.com/72331432/196907275-c6f410d1-83d3-42c9-8cfa-e00f664041e7.png)
![CC Search Portal — Mozilla Firefox 10_20_2022 2_40_17 PM](https://user-images.githubusercontent.co

[2022-10-20 09:23] Biki-das commented on #121
@possumbilities the fix is simple which is making the image width 100%, but the problem that i arrived is it also affects the footer social link images too and the css for the same is present in cc-wp/css/style.css where it says not to edit anything, any pointer would be appreciated for me to figure this out

[2022-10-20 09:54] mbonamensa commented on #92
I am working on it

[2022-10-20 10:18] adetyaz commented on #97
@possumbilities, I still experience the same thing, after clearing the cache and using a new browser

[2022-10-20 10:37] ImaJin14 commented on #119
@Rubadel I think something similar to this was requested but @possumbilities said it won't be needed....

[2022-10-20 10:40] ImaJin14 commented on #119
#73 by @PreciousOritsedere

[2022-10-20 10:44] ImaJin14 commented on #120
@VictoriaAjala I think this is a great issue but it'll be blocked by #108 by @TimidRobot

[2022-10-20 10:50] ImaJin14 commented on #121
@Biki-das I think this is similar to #106 by @adetyaz which was closed as a duplicate to #88 by @marvisjaja

I think this issue too will be closed:)

[2022-10-20 11:07] Rubadel commented on #119
@ImaJin14 No, what I am talk about is not as that mentioned in #73.
I mean just add "about page" in the footer ..

[2022-10-20 11:10] ImaJin14 commented on #119
Okay @Rubadel let's wait for @possumbilities response...

[2022-10-20 11:55] dikehprosper commented on #120
@VictoriaAjala there is an issue on that created already

[2022-10-20 11:56] ImaJin14 commented on #120
Please reference it here so she can see it!!!

[2022-10-20 11:57] dikehprosper commented on #121
@Biki-das  an issue in this has already been raised

[2022-10-20 12:04] dikehprosper commented on #119
@Rubadel or better still… a link to the about page

[2022-10-20 12:30] dullbenz commented on #48
@Rubadel. Ok so from that list, look for the engines that have not already been added. When u find one, yo can browse through the site to see how it works and how it functions.
For the rights, you need to play with the various filters on the site to know what you will use. For example, when I browsed sketchfab, I noticed that some of the license filters included commercial reuse and so applying a

[2022-10-20 12:32] dullbenz commented on #48
Also, I'm @dullbenz an Outreachy applicant just as you are.
No need to call me sir

[2022-10-20 13:10] TimidRobot opened #123 "[Bug] Fix Thingiverse search"
## Description
Currently, searches using Thingiverse return 0 results.

_Originally posted by @dullbenz in https://github.com/creativecommons/search/issues/94#issuecomment-1279813343_

The issue is that the query string contains an unsupported parameter.

## Reproduction
broken query from the CC Search Portal: https://www.thingiverse.com/search?q=cat&type=things&sort=relevant&customizable=1&licens

[2022-10-20 13:10] possumbilities commented on #97
@adetyaz Then, I'd suggest you try the [CC Community Slack](https://opensource.creativecommons.org/community/#slack) and ask there, to see if anyone else has had a similar issue, and how they resolved it.

[2022-10-20 13:13] Rubadel commented on #48
Okay @dullbenz thank you very much

[2022-10-20 13:13] adetyaz commented on #97
Alright thank you

[2022-10-20 13:14] dullbenz commented on #123
I'm currently working on this

[2022-10-20 13:17] TimidRobot opened #124 "[Bug] Remove Jamendo"
## Description
Jamendo no longer supports searching by license.

## Reproduction

1. Type a word
2. Click Jamendo
3. Always get the same invalid search result: https://www.jamendo.com/search?q=fq

## Expectation
Search engines should return meaningful results (CC licensed works). As Jamendo no longer supports CC licensed content in their search, it should be removed.

[2022-10-20 13:22] JennySimen commented on #97
@adetyaz do you have any errors on your console?
You can tag me on slack so as well so we debug together

[2022-10-20 13:23] adetyaz commented on #97
@JennySimen yes I have a couple of them

[2022-10-20 13:25] TimidRobot opened #125 "[Bug] Remove Open ClipArt"
## Description
Open ClipArt search no longer returns results, just advertisements

## Screenshots
<img width="1121" alt="Screen Shot 2022-10-20 at 06 23 48" src="https://user-images.githubusercontent.com/691322/196960864-68a7ae8d-dbfc-4ccc-ae43-0827e8056858.png">

## Expectation
Search engines should return meaningful results (CC licensed works). As Open ClipArt no longer supports CC licensed cont

[2022-10-20 13:28] dikehprosper commented on #124
I’m currently working on this

[2022-10-20 13:28] dikehprosper commented on #125
I’m currently working on this

[2022-10-20 13:41] possumbilities commented on #121
Thanks for the efforts, I do appreciate your enthusiasm, but as others have stated already this is definitely a duplicate, already covered in #88. Closing.

[2022-10-20 13:41] #121 closed

[2022-10-20 13:57] possumbilities commented on #123
To build upon this. Searching for a filtered search on Openverse that is narrowed to only Thingiverse does have results to show that there are in fact CC Licensed items on the site.

Query: `cat`
https://wordpress.org/openverse/search/image?q=cat&license_type=commercial,modification&source=thingiverse

<img width="1206" alt="Screen Shot 2022-10-20 at 8 51 39 AM" src="https://user-images.githubuser

[2022-10-20 14:00] dullbenz commented on #123
I used the creative _Creative Commons Attribution_ license to mimick the commercial purposes filter since this license allows commercial redistribution

[2022-10-20 14:06] possumbilities commented on #124
@dikehprosper You've got several contributions, and are already working on at least another issue, I'd suggest you leave this one for some one else to contribute to for now ❤️

[2022-10-20 14:08] EnayiOnaji commented on #92
Hello, i would love to work on this

[2022-10-20 14:11] dullbenz commented on #125
@TimidRobot @possumbilities
After testing the open clipart search, I noticed that after clicking on `next page` a couple of times, we finally get to see the content for our search

[2022-10-20 14:14] dullbenz commented on #125
My suggestion would be not to remove _Open Clipart_ completely but to make it a lower priority search engine since the ads interrupt the user experience

[2022-10-20 14:18] possumbilities commented on #92
@EnayiOnaji Hi! Glad you want to contribute, but you can see that @mbonamensa is already assigned to work on this. I'd suggest you keep looking for other Issues to work on, or perhaps finding new Issues to report/create.

[2022-10-20 14:33] mbonamensa opened #126 "[Feature] Add outline to checkbox input to improve accessibility"
## Problem

There's an `outline: none;` set on all inputs when focused. This can cause accessibility issues for keyboard users. This feature will make the inputs, especially the checkbox input more accessible by styling its focused state so that there is a visible outline.

In this screenshot, the checkbox is focused using the keyboard tab, there's a light blue focus around it which is barely visi

[2022-10-20 14:37] mbonamensa commented on #126
Can you please assign me @possumbilities @TimidRobot
I'm happy to work on this issue to increase the site's accessibility for keyboard users ❤️

[2022-10-20 15:08] Biki-das commented on #117
@possumbilities could you give some feedback on this issue?

[2022-10-20 15:19] dullbenz commented on #124
@TimidRobot @possumbilities
After doing some research on Jamendo, they still offer licensed content for commercial reuse, it's just the way they offer the content that has changed.

So as it stands, the [old Jamendo](https://www.jamendo.com/start) contains music that can be modified, downloaded, and reused (Personal use).

And the site [licensing.jamendo](https://licensing.jamendo.com/en/royalty-f

[2022-10-20 15:26] dullbenz commented on #124
Also, the search returns the "invalid search result: https://www.jamendo.com/search?q=fq" because of the malformed search query.

The malformed query may be due to the fact that the [Jamendo](https://www.jamendo.com/search?q=cat) site has been updated and their search query format updated implying that we may need to update ours in return in order to get the expected results.

![image](https://use

[2022-10-20 15:33] Biki-das commented on #117
@possumbilities i have closed the pr sorry for that , but could you give some feedback is it good to work on this one?

[2022-10-20 16:34] ImaJin14 commented on #97
Get to me on to get more insight

[2022-10-20 16:42] ImaJin14 commented on #123
Well let's see how we can rather resolve the issue or discard the engine:)

[2022-10-20 16:45] ImaJin14 commented on #125
The point of pulling up a search is to get results... If results don't yield then users are not satisfied....

[2022-10-20 16:47] Rubadel commented on #124
I will work on this issue, please could you assign me @TimidRobot @possumbilities

[2022-10-20 16:48] ImaJin14 commented on #126
@mbonamensa I think the checkbox outline themselves quite well... If not checked they don't show blue but rather an empty check box![Screenshot_20221020-174748.png](https://user-images.githubusercontent.com/112979436/197009781-99f06d0d-89b5-48e0-8d76-5de164d1078f.png)

[2022-10-20 16:48] Jolzyfx commented on #116
@possumbilities @TimidRobot @VictoriaAjala please I'm interested in collaborating on this project , i'll be so excited to be assigned this project .Thanks so much

[2022-10-20 16:50] Jolzyfx commented on #91
hello @possumbilities @TimidRobot i would love to collaborate with you on this project . please assign it to me. Thanks

[2022-10-20 16:54] Jolzyfx commented on #74
@TimidRobot please i would love to be assigned this project , using the cc global components in changing the site appearance will be superb, Can't wait to work on the project . Thanks

[2022-10-20 16:56] ImaJin14 commented on #117
@Biki-das as I earlier mentioned, PR #108 aims on making openverse the default search engine. Meaning it'll be made unique from the rest and even if another engine was to be selected it still has to stand out... Somehow this is a duplicate to #108

[2022-10-20 16:59] dullbenz commented on #125
That's true but there may be users who specifically want to see content from Open ClipArt since every site would have its own unique content. And moreover, users who already frequent the Open ClipArt site may know their way around the ads as I indicated and so removing the engine altogether will remove a load of content Open ClipArt comes with. That's why I feel making it less prioritized may be m

[2022-10-20 17:05] JennySimen opened #127 "[Feature] Refactor engine card html code into a reusable component"
## Problem

The engine cards are currently displayed by duplicating an existing html code. The search engines are often added/removed and so to prevent situations such as:

-  the engines are added in the wrong positions on the page (such as #109)
- some errors while copying
- updating one card means updating each card manually

## Description

An HTML component of the engine card can be created u

[2022-10-20 17:06] ImaJin14 commented on #125
@dullbenz okay I get you now... At the end the only priority search engine is openverse as @TimidRobot made emphasis on it

[2022-10-20 17:06] Rubadel commented on #124
I just finish of and send PR @TimidRobot

[2022-10-20 17:08] ImaJin14 commented on #119
@rubadel this issue been discarded and it's but right you close it...  Or we wait for @possumbilities to do so:)

[2022-10-20 17:10] ImaJin14 commented on #127
@JennySimen this is a great idea 💡

[2022-10-20 17:10] Rubadel commented on #127
I want to work on this assign me please

[2022-10-20 17:13] ImaJin14 commented on #127
@possumbilities please review if this can be worked on....

[2022-10-20 17:16] possumbilities commented on #125
To clarify, I think the point of what @TimidRobot said, was that Openverse should be _emphasized_ in some way, not that it should be the only engine given consideration of inclusion.

On how to approach this engine staying or going, it is more or less related to this [comment](https://github.com/creativecommons/search/issues/112#issuecomment-1284262231) from @TimidRobot :

I think it worth mention

[2022-10-20 17:16] JennySimen commented on #127
@Rubadel I already indicated to work on this

[2022-10-20 17:18] Marvisjaja opened #128 "[Feature] <Adding A feature called " 'PASF' 'Hot Searches' ">"
## Problem
 When  a user clicks on the input to attempt or make a search, most users are left with little or no ideals of the keyword or sets of keywords they want to search.
![Captureold](https://user-images.githubusercontent.com/115430180/197010832-0cb4235e-5660-48d0-932d-610c1fe0db80.PNG)

## Description
 The search input lacks the feature to bring descriptions on search attempts, adding this f

[2022-10-20 17:19] Rubadel commented on #127
Okay, Sorry, I think that you are mentor

[2022-10-20 17:20] possumbilities commented on #124
I think it warrants shifting this into seeing if Jamendo can be changed to reflect correct results rather than removing it based on what @dullbenz has outlined above.

@TimidRobot Do you have an opinion opposing that? Anyone else?

[2022-10-20 17:20] #119 closed

[2022-10-20 17:22] Rubadel commented on #124
Ok, I am Just excited to do something to contribute ..

[2022-10-20 17:23] ImaJin14 commented on #127
If you have had a successful PR merge it's advisable to allows new applicants to try and contribute while you assist:)

[2022-10-20 17:24] ImaJin14 commented on #124
You have no active PR on this issue but rather a commit....

[2022-10-20 17:25] Rubadel commented on #127
Sorry, I do not understand, could you clarify more ?

[2022-10-20 17:26] Rubadel commented on #124
Ok how can I make active PR?

[2022-10-20 17:27] ImaJin14 commented on #124
I think it's better to see if jamendo can be fixed to return meaningful information rather than discarding the engine....

[2022-10-20 17:28] ImaJin14 commented on #127
I was talking to @JennySimen ....

[2022-10-20 17:28] possumbilities commented on #124
@Rubadel do you want to make a PR to see if its possible to fix the engine?

[2022-10-20 17:31] Rubadel commented on #124
@possumbilities  Yes I want

[2022-10-20 17:31] ImaJin14 commented on #124
See https://docs.github.com/en/pull-requests

[2022-10-20 17:31] JennySimen commented on #97
@ImaJin14 we already solved found the source of the bugs and fixed it. You can check the conversation  on slack

[2022-10-20 17:33] ImaJin14 commented on #124
Meaning you will have to delete your last commit in which you removed the search engine...

[2022-10-20 17:39] possumbilities commented on #127
Thanks for this contribution, I've been thinking on it and here's where I've landed:

The overall direction the CC Search Portal needs to be going is towards simplicity, longevity, and stability. I don't think introducing Javascript based components at this stage is necessarily going to accomplish that. As simple as this Search Portal is, waiting on JS to render out HTML isn't the best use-case fo

[2022-10-20 17:43] #104 closed

[2022-10-20 17:48] JennySimen commented on #127
@possumbilities I think it makes more sense to move in that direction and use just HTML and CSS.

So, I will add some suggestions on how to continue in that direction.

[2022-10-20 18:17] Biki-das opened #129 "[Feature] Improving the skip navigation link"
## Problem
The current skip navigation link seems a little off, i feel we can improve it

![CC Search Portal — Mozilla Firefox 10_20_2022 11_40_54 PM](https://user-images.githubusercontent.com/72331432/197026350-524a1407-d5d8-4a32-9d1a-cc812f2c5d5c.png)

I played around and made something like this
![CC Search Portal — Mozilla Firefox 10_20_2022 11_51_05 PM](https://user-images.githubusercontent.c

[2022-10-20 18:34] ImaJin14 commented on #129
I don't think this issue is valid as the live site doesn't have a skip navigation bar....

In a nutshell this issue seems invalid:)

[2022-10-20 18:35] Biki-das commented on #129
Did not got what are you saying the site does have a skip navigation link

[2022-10-20 18:37] ImaJin14 commented on #129
![Screenshot_20221020-193636.png](https://user-images.githubusercontent.com/112979436/197030524-25775b5d-77be-4e02-abb8-bc2d3e7323a9.png)

Do u see any skip navigation on the header???....

The raised issue is invalid:)

[2022-10-20 18:38] Biki-das commented on #129
press tab to see it, this is a accessibility feature

[2022-10-20 19:12] dikehprosper commented on #125
@possumbilities since the search engine still gives results on search, from my perspective, removing or making it less prior to others wouldn’t be needed nevertheless  as you said the dimension of UX interruption via Ads that might need consideration should be mentioned in #112

[2022-10-20 19:20] PreciousOritsedere commented on #73
Creative Commons Search (or CC Search) is a convenient search tool that gives you access to search engines for finding videos, images, audio and any other digital content shared explicitly for reuse under Creative Commons (CC) license.

I think this is a simple and brief description. @TimidRobot @possumbilities

[2022-10-20 20:35] possumbilities commented on #120
I tend to agree with the comments that this is likely at a minimum blocked by #93, if not a duplicate. I'm going to block for now, but if the evolution of #93 turns into covering this then it would likely close as a duplicate.

[2022-10-20 20:39] possumbilities commented on #128
Thanks for the work on this contribution! It's an intriguing perspective, but I'm not sure it fits within the intended scope of the CC Search Portal.

Since this is a jumping off point, (a portal), the search queries themselves should not be saved within the site as that would entail a level of data retention and privacy that is largely beyond the scope of this project.

I agree, that in many inst

[2022-10-20 20:39] #128 closed

[2022-10-20 20:42] possumbilities commented on #129
I think the confusion here is that the `skip navigation` button _is_ present, but there isn't any navigation for it to skip, so its existence might not be needed? Perhaps that's a different angle to consider for this issue?

[2022-10-20 20:49] Rubadel commented on #124
@possumbilities I sent RP could you review

[2022-10-20 21:13] ImaJin14 commented on #93
Best case I find here will be to remove the keyboard search option and move it completely to engine selection.... Or we make the engine selection standard and the search button the only search option

That means if a user inputs a search query they can search by choosing their search engine and not clicking enter .....

Or

They select their desired search engine then input their search query and

[2022-10-20 21:24] ImaJin14 commented on #129
@possumbilities your right and I think the button be removed....

[2022-10-20 22:20] ketchanji commented on #93
I would suggest we redesign the ui such that
There are 3 actions to be done when performing a search and probably only 2 will be required

Firstly, the user enters their search query in an input field
Next to this input field is a drop down menu from where the user selects the search engine they would prefer to query from
lastly, the user clicks on the search button where their query will be submi

[2022-10-21 01:48] Rubadel opened #131 "[Feature] Add Vimeo as an additional External Source"
## Problem
This is a sub-issue out of https://github.com/creativecommons/search/issues/48

## Description
From the additional sources list in the file [get-additional-sources.ts](https://github.com/WordPress/openverse-frontend/blob/main/src/utils/get-additional-sources.ts#L61) that mentioned in https://github.com/creativecommons/search/issues/48, I choose the[Vimeo](https://vimeo.com/search) which

[2022-10-21 05:18] ImaJin14 commented on #108
@possumbilities please could you change the status of this issue and assign it to me so I can resolve it....

Thanks.

[2022-10-21 09:04] mbonamensa commented on #126
@ImaJin14 Thanks for contributing your thoughts.

The outline seems okay when the boxes are not checked and in this case, the site automatically checks the boxes onload. This is okay and maybe insignificant for people who navigate the site using their mouse. It however may be an issue for others who use keyboards only.
I found this issue when I realized I had skipped over the checkboxes a couple o

[2022-10-21 13:09] Fikayomii opened #132 "[Feature] Rearrangement of featured search engines alphabetically"
## Problem
    The search engines do not follow any order

## Description
   Rearranging the search engines in an alphabetical order

## Alternatives

## Additional context

## Implementation

- [x] I would be interested in implementing this feature.

[2022-10-21 21:14] ImaJin14 commented on #108
@possumbilities thanks I'll get to resolving this issue:)

[2022-10-21 23:04] dikehprosper commented on #115
@possumbilities please triage this issue

[2022-10-24 07:16] PreciousOritsedere commented on #107
Hello @possumbilities can you please assign this issue to me? I’d love to work on it 😊

[2022-10-24 07:32] PreciousOritsedere commented on #93
I would suggest that the search input should be used to type in the name of a search engine.
For instance, when more search engines are added to the website, it might get a like tacky to navigate or find the specific search engine you want.
So in such case, you can just type in the name of the search engine(or something similar) and the when you click on search, all search engines related to the w

[2022-10-24 08:51] ImaJin14 commented on #107
@dullbenz indicated he'll love to work on it while opening this issue:)

[2022-10-24 13:56] ImaJin14 commented on #108
@TimidRobot @possumbilities will there be need to make the openverse border thicker or the text bold if it's already the default search engine??

[2022-10-24 17:25] Biki-das commented on #121
Thanks @possumbilities for assigning me

[2022-10-24 17:34] possumbilities commented on #123
Here is what I suggest as a hybrid of sorts: It might be useful to temporarily have the Thinigiverse search go to a narrowed filter on Openverse, until such time as Thingiverse has its search filtering fixed and then when that happens we can swap it back rather than remove Thingiverse entirely?

Thoughts?

[2022-10-24 17:37] #132 closed

[2022-10-24 17:42] possumbilities commented on #91
Increasing the typeface is reasonable, but I don't think we should be changing out the typeface/font used as a part of this. That's definitely something to do later with an aesthetic refactor, but well outside the scope of where things are at now.

[2022-10-24 17:54] possumbilities commented on #108
@ImaJin14 I would suggest we go with just the border and/or bolder text solution for now and perhaps reconsider making it the default engine later when we've resolved the search flow a bit better. Thoughts?

[2022-10-24 18:48] possumbilities commented on #112
@Marshalng feel free to do so targeting the new `/guides` directory in the repository: https://github.com/creativecommons/search/tree/main/guides

[2022-10-24 19:02] Marshalng commented on #112
Alright, I will do just that.

[2022-10-24 19:16] ImaJin14 commented on #108
@possumbilities changing the search engine to default openverse won't distort the search flow.. users can still choose an alternative search engine... Also I think bolder text is preferred... I already did that for the default engine... But if you require I revert the changes  I will and submit a PR on only bolder text....

[2022-10-24 19:18] possumbilities commented on #108
@ImaJin14 I supposed that's fine since you've already done it.

[2022-10-24 19:22] #107 closed

[2022-10-24 19:41] #110 closed

[2022-10-24 23:46] FrancoFrancis opened #139 "[Improvement] <Create a new separate index.html file for the html code in index.php >"
## Problem
Doing this makes it easier to move around the code base, because I had some trouble finding the html code, before I finally found it in the index.php file.

## Description

A new index.html file will be created and the html code in index.php file will be moved into it. So when you need to see the code you will clearly see the index.html file.

## Implementation

- [x] I would be interes

[2022-10-24 23:52] FrancoFrancis commented on #139
Hi @TimidRobot and @possumbilities kindly give a go ahead so I can work on this issue I have created. thanks

[2022-10-25 00:50] dullbenz commented on #123
Okay, then!! What I can do is remove the license filter I'm using to simulate the "_commercial purposes_". This way, we ensure the user always gets results after his search, though the results displayed will be unchanged whether the user checks or unchecks the "_commercial purposes_" checkbox.

Finally, include a `TODO` in the code to indicate that the license filters should be reintegrated into t

[2022-10-25 02:58] Marshalng commented on #112
Hi @possumbilities  I just submitted a PR on this issue, please check, thanks. https://github.com/creativecommons/search/pull/140

[2022-10-25 03:35] Marshalng opened #141 "[Feature] Troubleshooting known Issues with Docker and VS Code"
## Problem
A lot of new contributors run into issues while setting up Dockers and VS Code on Window

## Description
This guide will troubleshoot known Dockers and VS Codes issues and those raised in our Slack channels

## Alternatives

## Additional context

## Implementation

- [x] I would be interested in implementing this feature.

[2022-10-25 11:27] dikehprosper opened #144 "[Feature] add EDU images as an external source"
## Problem
The goal is to add a good number of external sources to give users a variety of results from different sources.

## Description
[EDU images](https://images.all4ed.org/) ia a free library of photos celebrating students—and the educators who teach them—in seven schools across the United States,  licensed under [Creative Commons Attribution-NonCommercial 4.0 International](https://creative

[2022-10-25 13:30] possumbilities commented on #139
HI @FrancoFrancis thank you for being so enthusiastic, and trying to find ways to improve the codebase! ❤️

This is a PHP project, PHP projects generally do not have `index.html` files, they instead will often have an `index.php` file. The file extension indicates what code is within it. An `index.php` file can have PHP & HTML (and any other languages HTML allows) within it, but an `index.html` fi

[2022-10-25 13:30] #139 closed

[2022-10-25 13:58] dikehprosper commented on #144
@possumbilities please triage this issue

[2022-10-25 15:58] PreciousOritsedere commented on #144
Hi @possumbilities I want to wo

I want to work on this. Can you assign to me please

[2022-10-25 17:42] dikehprosper commented on #144
@possumbilities alright ma’am as you wish 😊

[2022-10-25 17:59] Marshalng commented on #141
@possumbilities please check.

[2022-10-25 18:01] PreciousOritsedere opened #145 "[Feature] Add 'The Greats' as an external source"
## Problem
The goal is to add a good number of external sources to give users a variety of results from different sources.

## Description
[The Greats](https://www.thegreats.co/thegreats/public/artworks) is a free site to discover awesome themed art illustrations. it is also licensed under [Creative Commons Attribution-NonCommercial 4.0 International](https://creativecommons.org/licenses/by-nc/4.0

[2022-10-25 18:09] PreciousOritsedere commented on #145
@possumbilities If this issue is triaged, please assign to me, I would love to work on it please :)

[2022-10-25 19:29] ImaJin14 commented on #108
@possumbilities please I'm having troubles using the attributes specific to openverse... could you enlighten me on how to go about it, please

[2022-10-25 23:14] FrancoFrancis commented on #139
thank you sara, its been a pleasure to learn and contribute. :)

[2022-10-26 11:49] mbonamensa commented on #91
@pragmaticAweds have you started work on this?

[2022-10-26 13:19] SilasEze commented on #131
I would be interested in implementing this feature.
Could you assign me @TimidRobot @possumbilities

[2022-10-26 14:30] SilasEze opened #148 "[Feature] <Add Vimeo as an additional External Source > #131"
## Problem
This is a sub-issue out of https://github.com/creativecommons/search/issues/48

## Description
From the additional sources list in the file [get-additional-sources.ts](https://github.com/WordPress/openverse-frontend/blob/main/src/utils/get-additional-sources.ts#L61) that mentioned in https://github.com/creativecommons/search/issues/48, I choose the[Vimeo](https://vimeo.com/search) which

[2022-10-26 14:35] possumbilities commented on #148
HI and thankyou for your excitement, but this Issue already exists as:
* #131

Please be careful to not create duplicate Issues. ❤️

Closing as Duplicate.

[2022-10-26 14:35] #148 closed

[2022-10-26 14:41] #112 closed

[2022-10-26 14:44] possumbilities commented on #108
@ImaJin14 I can try, what do you mean by "attributes specific to openverse"?

[2022-10-26 14:51] ImaJin14 commented on #108
<div class="engine">
							<div class="engineButton">
								<button onclick="setEngine(this)" name="engine" value="openclipart" id="openclipart"></button>
							</div>
							<div class="engineDesc"><label for="openclipart"><strong>Open ClipArt</strong><br/>Image</label></div>
						</div>
                        </div>
						<div class="four columns omega">
						<div class="engine">
							<

[2022-10-26 14:59] possumbilities commented on #117
I think if anything the focus indicators should be set to the browser default wherever possible, and not explicitly set to a style.

Meaning instead of setting the outline to something, it should likely be removed entirely and let the browser style the focus indicator outline with its own inherent defaults.

[2022-10-26 15:01] possumbilities commented on #141
@Marshalng I like the idea, but I think you need to narrow the focus to one operating system per guide, and indicate that in the title of the guide and the Issue here.

[2022-10-26 15:02] possumbilities commented on #144
Please verify and affirm that adding this engine is inline with our new listed criteria here in the [Engines Guide](https://github.com/creativecommons/search/blob/main/guides/search_engines_inclusion_criteria.md), before we proceed with making this `status: ready for work`

[2022-10-26 15:03] possumbilities commented on #145
Please verify and affirm that adding this engine is inline with our new listed criteria here in the [Engines Guide](https://github.com/creativecommons/search/blob/main/guides/search_engines_inclusion_criteria.md), before we proceed with making this `status: ready for work`

[2022-10-26 15:13] SilasEze commented on #124
i would like to contribute to this project
Could you assign me @TimidRobot @possumbilities

[2022-10-26 15:15] possumbilities opened #149 "[RFC] Identify, Discuss, and Generate a List of Useful Guides"
## Problem

## Description
* Please read the guides [README.md](https://github.com/creativecommons/search/tree/main/guides) which outlines what a new Guide should include, and the conventions it should follow.
* Please comment below with any suggestions for Guides we might benefit from creating that are not already there.
* This Issue can be referenced in sub-issues that spin out from it.

## Addi

[2022-10-26 15:23] possumbilities commented on #108
@ImaJin14 One route would be to add a class of `openverse` to that specific engine and then use `.openverse { }` in the CSS to target it specifically and not the others.

[2022-10-26 15:23] ImaJin14 commented on #149
It's a discussion... Meaning you drop down your ideas here....

[2022-10-26 15:25] possumbilities commented on #124
@SilasEze HI! Glad you're interested in contributing, but it seems someone is already working on it, and has already submitted a PR. I'd suggest you try to offer contributions via feedback here or to the PR, or find another Issue to contribute to that's available, or find and generate new Issues. :)

[2022-10-26 15:26] yokwejuste commented on #149
Thanks for that @ImaJin14 !

I said I'm on it, meaning going to look for ideas for this now

[2022-10-26 16:01] PreciousOritsedere commented on #145
I have read through the criteria listed in the [Engines Guide](https://github.com/creativecommons/search/blob/main/guides/search_engines_inclusion_criteria.md) and I affirm that [The Greats](https://www.thegreats.co/thegreats/public/artworks) is inline with the listed criteria.

[2022-10-26 17:29] onyijne commented on #149
Talking about useful guides, I decided to contribute on CC Meta Search today, reading the internship task on Outreachy website it states interns are expected to

To achieve this I assume it means to rewrite the application to a JavaScript application, that can be hosted on Github pages while maintaining its current functions. This leads to the question if the [JavaScript guide](https://opensource.

[2022-10-26 17:44] possumbilities commented on #149
@onyijne I think the Javascript guide on the open source site needs a little clarification. The meaning there is more that if one is going to use a front-end component framework, with JS the standards at the moment, they should go with Vue (rather than React, Angular, Preact, etc.)

But that doesn't mean a project has to go that far in abstraction. A project can have Javascript that's functional a

[2022-10-26 18:51] onyijne opened #152 "[Feature] Convert to a static application with modern semantics"
## Problem
The code-base is currently written in PHP with its semantics being included from various files and these files do not really do anything different than to add semantics to the page. This makes it impossible to host the application on GitHub pages.
Also the semantics do not meet current standards, and as such makes it difficult to use with modern accessibility devices and software.

## D

[2022-10-26 23:43] dullbenz commented on #123
Ok, @possumbilities. I missed the point you were making. But I get it now
Will follow the directions indicated

[2022-10-27 05:43] ImaJin14 commented on #149
I think putting up a guide which contains proper links for setting up docker on various os  and links that help with various github task such as opening up a PR... Cloning a repository and syncing it with the remote branch

Those where the most noticed beginner issues I noticed and had to aid some people with

[2022-10-27 07:28] Marshalng commented on #141
@possumbilities, thanks, I will do just that.

[2022-10-27 10:21] ImaJin14 commented on #144
@dikehprosper this engine your proposing though of CC license doesn't return much valuable data nor is the search results numerous... Thus I don't think it'll be best to include it.... You can keep searching for ways to better it and enlighten us...

@possumbilities will have the final say....

[2022-10-27 10:34] dikehprosper commented on #144
Having conducted proper research…I discovered the site does have the CC license registration and the search results are specific to images of students and their tutors in schools across the United States…It does have its own unique content and still display results to searches related to what it offers

[2022-10-27 12:54] Mahwou commented on #48
Hi @dullbenz @Biki-das are you still currently on this issue? I would love to work on it as well .

[2022-10-27 14:14] ImaJin14 commented on #48
@Mahwou here you come up with a search engine and open up a separate issue for it

[2022-10-27 14:21] dullbenz commented on #48
Just as @ImaJin14 commented, you create a issue for the external source you want to add and mention this issue there

[2022-10-27 15:06] PreciousOritsedere commented on #149
Adding a detailed guide on setting up Docker will be very helpful. We could also add the possible errors that could spring up and include links that could help resolve those errors

[2022-10-27 15:51] JennySimen commented on #127
CSS Grid is very flexible and responsive. It makes it easy to create two-dimensional layouts.It will also be easy to use and is supported by most web browsers. The CSS grid will improve the mark-up and provide more flexibility.
Seeing that there are 10 engines currently, we will put them in a div with a general class name. Each engine will be in a div having the same class name.

For the css, we w

[2022-10-27 20:45] #124 closed

[2022-10-27 22:46] Rubadel opened #154 "[Feature] <Categorize the search engines based the search label -type- >"
## Problem
May most of the user feel distributed while looking for many search engine for more than what they need to search about, as well as may when add more than what are there of engines will be hordable for user..

So I think that will be Simpler in UI and more comfortable use, as well as it is easier to noticed the desired search engine for the users

## Description
It will be as google eng

[2022-10-28 01:44] ImaJin14 commented on #117
@Biki-das are you still working on this....

If not I'll love to resolve it @possumbilities

[2022-10-28 03:04] Biki-das commented on #117
Yup working on it

[2022-10-28 09:12] JennySimen opened #155 "[Feature] Add accessible names to search engine buttons"
## Problem

When the platform is analized by the https://web.dev/, we see how we can can improve the accessibility section significantly.

The will address the issue to fix `Buttons do not have an accessible name`.

Adding accessible names to all the search engines button will significantly improve the accessibility test.

<img width="1248" alt="Screen Shot 2022-10-28 at 10 08 59" src="https://use

[2022-10-28 10:00] JennySimen opened #156 "Add 'Images of empowerment' as an external source"
## Problem
The goal is to add a good number of external sources to give users a variety of results from different sources.

## Description
[Images of empowerment](https://www.imagesofempowerment.org/) is a free site where we can get images on women’s lives and work. it is also licensed under [Creative Commons Attribution-NonCommercial 4.0 International](https://creativecommons.org/licenses/by-nc/4

[2022-10-28 11:02] JennySimen commented on #97
@adetyaz The PR of #150 fixes this as well.

Just a heads up

[2022-10-28 11:19] JennySimen commented on #149
A step by step guide for setting up docker most especially for windows with images will be very helpful as it will be easier to follow and better to understand.

[2022-10-28 11:30] dikehprosper commented on #149
A link to docker installation is already present in the readme.md…what we can really work on is stating out the possible errors, beginners might encounter while trying to set up the projects and proffer solutions to them. I would suggest this to be in a different folder

[2022-10-28 12:09] adetyaz commented on #97
oh okies, seen it. thanks

[2022-10-28 12:11] JennySimen commented on #149
I think setting up a guide which explains how one can go about searching for issues to solve in the codebase and on the site will be of great help to new contributors and beginners.
Going through the contribution file, it explains how one can find issues from the issues list on the repo and how to create new ones but doesn't explain how you can search for them before creating. But in a case where

[2022-10-28 12:25] JennySimen commented on #155
@possumbilities please triage this issue

[2022-10-28 12:26] JennySimen commented on #156
@possumbilities please triage this issue

[2022-10-28 17:09] mbonamensa commented on #149
Suggestions on this discussion are awesome and would be beneficial to newcomers.
I think a guide that has a format for asking questions related to this project can be written as well or can be included in any of the above-mentioned guides as a postscript.

[2022-10-28 17:16] mbonamensa commented on #126
You're absolutely right. Leaving them to browser defaults would be the best thing to do. I suggested styling them in addition to the removal just in case the aesthetics of the page were to remain intact. But I think full accessibility over aesthetics right? Lol

[2022-10-28 18:17] ImaJin14 commented on #145
It does fall in line with CC license but doesn't seem to return much valuable data...

I've tried a few common searches and the return was few... i.e either a one or two search return

But according to the criteria it should return a vast variety such as 10 results and above.... That is if I'm not wrong

[2022-10-28 18:24] PreciousOritsedere commented on #145
I believe you’re very wrong. When you search for something on the site, it returns more than 10 results and even has the option for several themes. Maybe you can go back to the site and try searching again.

[2022-10-28 18:45] ImaJin14 commented on #145
![Screenshot_20221028-194414.png](https://user-images.githubusercontent.com/112979436/198709689-286d58ba-dbf1-4187-8f58-b017cd51f3de.png)

Here's just a simple search of Common art theme and the return is zero

[2022-10-28 18:56] PreciousOritsedere commented on #145
The Greats is a site for artworks. I believe if you type in “art” you’ll get varieties of results. It’s not a site for finding animals hence why I think tiger won’t bring forth any results

[2022-10-28 19:08] ImaJin14 commented on #145
@PreciousOritsedere so you do understand that, that engine we'll work for only the word search of ```art```

Which means this engine already has default themes which users can browse through but won't be able to do specific searches

[2022-10-28 19:14] PreciousOritsedere commented on #145
Since “The Greats” is an a site for artworks, it makes sense that the users will be there to search for art illustrations. I noted on the issue description that it is a site for art. “Tiger” on the other hand doesn’t fall under a theme, in my opinion though.

[2022-10-28 19:19] ImaJin14 commented on #145
![Screenshot_20221028-201712.png](https://user-images.githubusercontent.com/112979436/198715060-e30a172b-4aae-40aa-9a7a-fb1779bf5916.png)

Here's an example of another site using the search query ```tiger```

What I'm saying is users coming to the search portal will search using queries and ```the greats``` doesn't offer that luxury.... Well there's already a PR for this issue so it is fine....

[2022-10-28 19:22] PreciousOritsedere commented on #145
This screenshot doesn’t return artworks tho. This is more like phone themes. Anyways I’m sure the mentor will decide if it should be added or not. Thanks for your kind observations.

[2022-10-28 22:38] Marshalng commented on #141
Hello @possumbilities  I just created a PR that addressed this issue, please check. Thanks. https://github.com/creativecommons/search/pull/157

[2022-10-29 02:18] henryripcord commented on #156
Something like this ??

<img width="1280" alt="Screenshot 2022-10-29 at 03 17 12" src="https://user-images.githubusercontent.com/102265022/198772171-363ad538-543c-4008-a063-405978681dcd.png">

[2022-10-29 02:21] henryripcord commented on #156
If so, then I'd love to work on it

[2022-10-29 02:25] henryripcord commented on #125
Is someone currently working on this??

[2022-10-31 13:50] Marvisjaja commented on #156
@possumbilities pls I would like to ask a question. Am at the stage of submitting a final application..

[2022-10-31 13:55] Marvisjaja commented on #156
@possumbilities pls I need guidelines . We are asked to work with our mentors to provide a timeline of our work .

How do I go about it please

[2022-10-31 14:22] possumbilities commented on #155
@JennySimen I agree this is an Issue, and I'm Ok with this fix as a temporary one, but in general  `aria` attributes are often needed when the rest of the code doesn't conform to a more standard and stable implementation. In this instance what you've discovered is that the more ideal scenario would be the buttons all need to be minimally `<button>` elements, AND that they contain inner text: `<but

[2022-10-31 14:25] possumbilities commented on #149
This is more a general guide that already exists in some part on the [Contribution Guidelines](https://opensource.creativecommons.org/contributing-code). If anything there might be a need for that site to be modified or updated to address some specific concerns. But Guides here should be specific to this project, and while the above suggestion is useful, it's more general in application.

[2022-10-31 14:26] possumbilities commented on #149
I agree that a Docker specific installation guide for Windows is likely useful, specifically for this project.

[2022-10-31 14:28] possumbilities commented on #126
@mbonamensa yes, full Accessibility the whole way.

[2022-10-31 14:55] onyijne commented on #152
Hi @possumbilities kindly check if this issue can fly, thanks.

[2022-10-31 15:15] possumbilities commented on #152
This is a vast Issue covering a lot of scope, and so this Issue should operate at best as a discussion that can generate sub-Issues with more specific aims.

[2022-10-31 15:31] JennySimen opened #159 "[Feature] Refactor Search Engine buttons"
## Problem

The current implementation of the search engine buttons needs refactoring in order to provide a more standard and stable implementation.

This should also provide better fix for #155. Below is the current structure of the search engine buttons

[code]

## Description

Create minimal `<button>` elements for each search engine AND they should contain inner text: `<button>engineName</butt

[2022-10-31 15:34] JennySimen commented on #159
@possumbilities please if anything needs to be added to this issues, do let me know so I can update the issues description.

[2022-10-31 16:17] ImaJin14 commented on #159
If this gets triage I'll love to work on it... Please assign it to me @possumbilities ....

[2022-10-31 16:17] mbonamensa commented on #159
Awesome issue raised on #155  @JennySimen
@possumbilities I would be interested in working on this issue can you please assign me?

[2022-10-31 16:43] JennySimen commented on #156
@possumbilities I have read through the criteria listed on
https://github.com/creativecommons/search/blob/main/guides/search_engines_inclusion_criteria.md and I affirm that the engine is inline with the criteria on the list.

[2022-10-31 17:17] JennySimen commented on #159
@ImaJin14 @mbonamensa  I think we could assist and encourage those without contributions to pick this up and work on it 🙂

[2022-10-31 17:47] mbonamensa commented on #159
@JennySimen Yeah sure, I'll share this in Slack and if after a while no one has, I'd love to work on it.

[2022-10-31 17:55] mbonamensa commented on #159
@JennySimen Sure! Happy to work with you on this.

[2022-10-31 19:10] #115 closed

[2022-10-31 19:16] possumbilities commented on #145
@PreciousOritsedere what you've done in the PR #151  here works, but there's an obstacle I've noticed. The Greats doesn't allow any of the images to be used for commercial purposes, but that's a checkbox on the CC Search Portal. Any ideas on how to address this?

[2022-10-31 19:20] possumbilities commented on #131
In reference to #160 to fully resolve this Issue the appropriate `aria-label` will need to be added to the engine button.

[2022-10-31 19:21] possumbilities commented on #145
Secondarily, in reference to #160 to fully resolve this Issue the appropriate `aria-label` will need to be added to the engine button.

[2022-10-31 19:21] possumbilities commented on #156
In reference to #160 to fully resolve this Issue the appropriate `aria-label` will need to be added to the engine button.

[2022-10-31 19:24] possumbilities commented on #156
The current Search Portal interface has an option for searching "use for commercial purposes", and since that's the case any engine we add with the current UX has to have some option to filter for that. However, this external source says the follow:

Therefore, I'm not sure, if at this time we can do this. So I'm moving this to blocked until such time as the interface can allow this level of nuanc

[2022-10-31 20:32] #155 closed

[2022-11-01 00:08] Rubadel commented on #154
@possumbilities Hi,
I means that adding labels which are (images, videos, music, 3D models and media and all the things which are available to search within available engines), on the top of the page..
and when clicked for example on the image label all the image engines appear, and when clicked on the music label all the music engines appear..

(As what appear on the google engine there is Image

[2022-11-01 00:39] dikehprosper commented on #78
@possumbilities .....@Njong392 has not submitted a PR  and it's been more than 7 days as stated in the contribution guidelines...
I would be glad if given permission to work on this

[2022-11-01 03:33] ImaJin14 commented on #108
https://github.com/creativecommons/search/pull/150#issuecomment-1297549414

This has always been the case upon pressing enter after entering a query @possumbilities....

I think it's rather related to the issue #93 which does with search handling functionality....

[2022-11-01 04:55] ImaJin14 commented on #108
@possumbilities currently working on the search function to stop it from defaulting to the first button upon enter... Once I'm done I'll open up a PR for this issue thanks....

[2022-11-01 07:06] PreciousOritsedere commented on #145
I just noticed this as well. Are we allowed to add an additional text that says:(not for commercial use) or does all the search engines have to be for commercial use, compulsorily

[2022-11-01 07:07] PreciousOritsedere commented on #145
Okay noted. I’ll do that. Do I go ahead now? Or I should hold on till we resolve the non commercial use issue

[2022-11-01 14:05] FrancoFrancis opened #161 "[Improvement] <Add projects description, problems and expected outcome in README documentation>"
## Problem
There is only documentation about setting up the project in the Projects README, although that may not neccessarily be a problem.

## Description
By adding a detailed description of the project, the problems associated with the project and the expected outcome just as on the outreachy website I believe the project will be more complete. if this issue is approved Would like to work with

[2022-11-01 14:09] FrancoFrancis commented on #161
hi @sara kindly check if this issue is to be worked on. thanks :)

[2022-11-01 15:22] PreciousOritsedere commented on #152
I would also like to add that converting the present PHP files into semantic HTML and JavaScript might be necessary as well

[2022-11-01 15:59] mbonamensa commented on #126
I'll get to work on this, thanks @possumbilities

[2022-11-01 17:02] onyijne commented on #152
Hi @PreciousOritsedere, yes that’s the task required for Outreachy interns.

[2022-11-02 17:27] dikehprosper commented on #78
Working on this

[2022-11-02 19:17] possumbilities commented on #145
@PreciousOritsedere I think you could go ahead and correct the aria-label. As for the rest, I'm unsure what to do about it considering that with the current site UX there's not a realistic option to course correct. We may have to unfortunately move this to blocked if we can't find a sound alternative within the current site UX.

[2022-11-02 19:22] #123 closed

[2022-11-03 10:53] dikehprosper commented on #91
@possumbilities ..... @pragmaticAweds  has not submitted a PR and it's been more than 7 days as stated in the contribution guidelines...
I can help out on this if given permission to

[2022-11-03 12:31] mbonamensa commented on #126
@possumbilities The file (cc-wp/css/style.css) containing general styles for the `input` is not to be edited as per the comments. What do you suggest I do?

[2022-11-03 14:45] possumbilities commented on #126
@mbonamensa there's a file in the root directory entitled `style.css` it occurs after the other file and thus overrides it. Any rules you place within that file with [adequate specificity](https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity) should work.

[2022-11-03 15:14] mbonamensa commented on #126
@possumbilities  Awesome. It does. The issue I raised only targets the checkboxes, can I include the text input as well? I also used the `:focus-visible` selector which means the outline shows for keyboard users only and not mouse users. Using it on the text input will however show the outline for both users. Thoughts?

[2022-11-03 15:32] mbonamensa commented on #149
A Frequently Asked Question (FAQ) can also be considered a guide. I am not sure about Slack but I have seen questions being asked on a Discord community being turned into a FAQ channel where people can go to search for questions or ask questions related to the project if they do not find the answers they are looking for. Like a way of documenting relevant questions so that there isn't a repetition

[2022-11-03 15:36] possumbilities commented on #126
@mbonamensa since the route of solutions is likely to differ for the text input, let's keep the scope of this Issue to the checkbox.

But you can make another Issue for the text input if its not already covered in any other Issues, and we could strategize further from there.

[2022-11-03 18:39] dikehprosper commented on #91
Working on this

[2022-11-03 21:38] JennySimen commented on #97
@possumbilities since there has been no fix for this issue yet can i go on to provide a fix for this or #108 fixes this as well.

[2022-11-04 15:18] #78 closed

[2022-11-04 15:19] possumbilities commented on #161
@FrancoFrancis I'd be interested to see what suggestions anyone would have here on what should be appended to the `README.md` file to improve things.

[2022-11-04 15:22] JennySimen commented on #159
@possumbilities yes I am

[2022-11-04 15:25] #131 closed

[2022-11-04 18:31] FrancoFrancis commented on #161
okay, Can I go on to the community to start an open discussion ?

[2022-11-04 18:33] possumbilities commented on #161
@FrancoFrancis You can direct them here to have the discussion so the record is on this Issue, but sure, please do! ❤️

[2022-11-04 18:34] FrancoFrancis commented on #161
okay on it.

[2022-11-05 07:57] mbonamensa commented on #159
@JennySimen how's it going?
Where can I help?

[2022-11-05 08:30] mbonamensa commented on #126
@possumbilities Alright then.

[2022-11-05 08:33] dikehprosper commented on #161
@possumbilities  @FrancoFrancis.... I think the most important part is a documentation that talks about the functionality and what the project does in the README

[2022-11-05 09:00] mbonamensa commented on #161
@FrancoFrancis correct me if I'm wrong. Do you mean the readme of the project should include problems that are expected to be resolved within the project? For example "We're looking to refactor the code base, etc" Something like that?

[2022-11-05 11:34] dikehprosper opened #166 "[Bug] Wikimedia Commons card component not properly aligned"
## Description
Wikimedia commons card component is not properly aligned with other search card component

## Reproduction

1. run the project locally
2. See wikimedia commons card component not properly aligned.

## Screenshots
![Screenshot 2022-11-05 122436](https://user-images.githubusercontent.com/103826657/200117520-a606120c-089c-418b-9150-b5e027a84f20.jpg)

## Resolution

- [x] I would be int

[2022-11-05 11:35] dikehprosper commented on #166
@possumbilities please triage this issue

[2022-11-05 11:48] FrancoFrancis commented on #161
Yes.... the issue is open for discussion on what should be appended to the readme to make it as informative as possible this is to make sure getting started as a user or as a developer/contributor is as easy as possible and also to reduce noice, because it is the one of the most important parts of any Github project.

[2022-11-07 16:06] mbonamensa commented on #126
@possumbilities I see that #85 and #93 target the design of the text input and there seems to be more research to be done before the issues can be triaged. At the moment I think the text input focus is visible enough and is the first user contact whenever the page is loaded. However, I think the issue of accessibility, where the focus styles can be reverted to browser defaults can be addressed in

[2022-11-07 20:25] possumbilities commented on #126
@mbonamensa I think it's specific enough you could make an Issue about it.

As for those links, there's definitely inconsistency on other sites, and that likely needs to be addressed, but that's out of the scope of this particular repository. But thank you for raising it nonetheless. ❤️

[2022-11-08 09:20] mbonamensa commented on #126
Okay, thank you @possumbilities
Is there a design document or brand guidelines that CC global follows though?

[2022-11-08 09:36] mbonamensa opened #167 "[Feature] Leave input focus styles to browser defaults to improve accessibility"
## Problem

The issue here is having the outline of the inputs on the page stripped off which can affect the navigation experience of users using keyboards only or assistive technologies.

## Description

This feature will revert the `outline: none`  and focus styles set on the text input specifcally so that it defaults to the browser styles.

## Alternatives

An alternative will be to explicitly

[2022-11-08 09:37] mbonamensa commented on #167
@possumbilities made an issue as we discussed. Happy to work on it when it's triaged.

[2022-11-08 15:25] JennySimen commented on #159
@mbonamensa it's going quite well, soon creating a PR for the issue

[2022-11-08 21:45] possumbilities commented on #126
@mbonamensa That would be Vocabulary, Creative Commons Design System, https://github.com/creativecommons/vocabulary BUT its in flux at the moment so it's mostly correct, but not 100% in every case.

[2022-11-09 22:20] FrancoFrancis commented on #161
Hi @possumbilities can I proceed to working on this issue while its still open for discursion?

[2022-11-11 21:18] #91 closed

[2022-11-12 10:15] mbonamensa commented on #167
Thanks, @possumbilities
On it!

[2022-11-12 11:57] mbonamensa opened #169 "[Feature] Improve footer links' readability"
## Problem

After new updates, the footer links look crowded and a little too bold. See screenshot:
![Screenshot (63)](https://user-images.githubusercontent.com/85899285/201472653-979b5783-cab6-4db2-89ff-c90f47d888cd.png)

## Description

This would remove the boldness and style links so it is consistent with the main cc website footer here: https://creativecommons.org/
Where the link is underline

[2022-11-12 11:59] mbonamensa commented on #169
@possumbilities happy to work on this and hear your thoughts.

[2022-11-12 13:05] dikehprosper commented on #166
@possumbilities can I proceed with working on this??

[2022-11-12 13:07] dikehprosper commented on #169
@mbonamensa already worked on this dear

[2022-11-13 13:32] JennySimen commented on #166
@dikehprosper with the new structure of the engine buttons, that bug is no longer found.

[2022-11-14 11:53] dikehprosper commented on #166
@JennySimen

[2022-11-15 10:42] mbonamensa commented on #169
@PreciousOritsedere happy to work with you on this when it's triaged by @possumbilities
What are your thoughts on how to go about this?

[2022-11-18 20:13] #126 closed

[2022-11-18 20:15] possumbilities commented on #166
Seems to be resolved by the work in #168

[2022-11-23 21:22] #167 closed

[2022-11-23 21:42] ImaJin14 opened #171 "[Bug] Engine reshuffles to ccmixter upon search... UX"
## Description

Upon searching with a chosen search engine, UX still selects ccmixter as the used engine
## Reproduction

1.  open live site or test project site on open port
2.  enter search query
3. hit enter key or select desired search engine
4. See UX error on site.

## Expectation

The UX should show selected engine as that which was used for the search
## Screenshots

## Environment

 - Dev